In [1]:
# Importing Libraries
import os
from dotenv import load_dotenv
import pandas as pd
import numpy as np
import requests
import json
from datetime import datetime

## Loading Citibike data

In [2]:
# Creating a list with all files in the folder using a list compehension

folderpath = r"C:\Data\Citibike_NY_2022\2022-citibike-tripdata\extracted_data"  # folder where files were extractred (see scripts/extract_data.py)
filepaths  = [os.path.join(folderpath, name) for name in os.listdir(folderpath)]    # looping over files within filepath and joining to folder path creating list object

In [3]:
filepaths

['C:\\Data\\Citibike_NY_2022\\2022-citibike-tripdata\\extracted_data\\202201-citibike-tripdata_1.csv',
 'C:\\Data\\Citibike_NY_2022\\2022-citibike-tripdata\\extracted_data\\202201-citibike-tripdata_2.csv',
 'C:\\Data\\Citibike_NY_2022\\2022-citibike-tripdata\\extracted_data\\202202-citibike-tripdata_1.csv',
 'C:\\Data\\Citibike_NY_2022\\2022-citibike-tripdata\\extracted_data\\202202-citibike-tripdata_2.csv',
 'C:\\Data\\Citibike_NY_2022\\2022-citibike-tripdata\\extracted_data\\202203-citibike-tripdata_1.csv',
 'C:\\Data\\Citibike_NY_2022\\2022-citibike-tripdata\\extracted_data\\202203-citibike-tripdata_2.csv',
 'C:\\Data\\Citibike_NY_2022\\2022-citibike-tripdata\\extracted_data\\202204-citibike-tripdata_1.csv',
 'C:\\Data\\Citibike_NY_2022\\2022-citibike-tripdata\\extracted_data\\202204-citibike-tripdata_2.csv',
 'C:\\Data\\Citibike_NY_2022\\2022-citibike-tripdata\\extracted_data\\202204-citibike-tripdata_3.csv',
 'C:\\Data\\Citibike_NY_2022\\2022-citibike-tripdata\\extracted_data\\202205-citibike-tripdata_1.csv',
 'C:\\Data\\Citibike_NY_2022\\2022-citibike-tripdata\\extracted_data\\202205-citibike-tripdata_2.csv',
 'C:\\Data\\Citibike_NY_2022\\2022-citibike-tripdata\\extracted_data\\202205-citibike-tripdata_3.csv',
 'C:\\Data\\Citibike_NY_2022\\2022-citibike-tripdata\\extracted_data\\202206-citibike-tripdata_1.csv',
 'C:\\Data\\Citibike_NY_2022\\2022-citibike-tripdata\\extracted_data\\202206-citibike-tripdata_2.csv',
 'C:\\Data\\Citibike_NY_2022\\2022-citibike-tripdata\\extracted_data\\202206-citibike-tripdata_3.csv',
 'C:\\Data\\Citibike_NY_2022\\2022-citibike-tripdata\\extracted_data\\202206-citibike-tripdata_4.csv',
 'C:\\Data\\Citibike_NY_2022\\2022-citibike-tripdata\\extracted_data\\202207-citibike-tripdata_1.csv',
 'C:\\Data\\Citibike_NY_2022\\2022-citibike-tripdata\\extracted_data\\202207-citibike-tripdata_2.csv',
 'C:\\Data\\Citibike_NY_2022\\2022-citibike-tripdata\\extracted_data\\202207-citibike-tripdata_3.csv',
 'C:\\Data\\Citibike_NY_2022\\2022-citibike-tripdata\\extracted_data\\202207-citibike-tripdata_4.csv',
 'C:\\Data\\Citibike_NY_2022\\2022-citibike-tripdata\\extracted_data\\202208-citibike-tripdata_1.csv',
 'C:\\Data\\Citibike_NY_2022\\2022-citibike-tripdata\\extracted_data\\202208-citibike-tripdata_2.csv',
 'C:\\Data\\Citibike_NY_2022\\2022-citibike-tripdata\\extracted_data\\202208-citibike-tripdata_3.csv',
 'C:\\Data\\Citibike_NY_2022\\2022-citibike-tripdata\\extracted_data\\202208-citibike-tripdata_4.csv',
 'C:\\Data\\Citibike_NY_2022\\2022-citibike-tripdata\\extracted_data\\202209-citibike-tripdata_1.csv',
 'C:\\Data\\Citibike_NY_2022\\2022-citibike-tripdata\\extracted_data\\202209-citibike-tripdata_2.csv',
 'C:\\Data\\Citibike_NY_2022\\2022-citibike-tripdata\\extracted_data\\202209-citibike-tripdata_3.csv',
 'C:\\Data\\Citibike_NY_2022\\2022-citibike-tripdata\\extracted_data\\202209-citibike-tripdata_4.csv',
 'C:\\Data\\Citibike_NY_2022\\2022-citibike-tripdata\\extracted_data\\202210-citibike-tripdata_1.csv',
 'C:\\Data\\Citibike_NY_2022\\2022-citibike-tripdata\\extracted_data\\202210-citibike-tripdata_2.csv',
 'C:\\Data\\Citibike_NY_2022\\2022-citibike-tripdata\\extracted_data\\202210-citibike-tripdata_3.csv',
 'C:\\Data\\Citibike_NY_2022\\2022-citibike-tripdata\\extracted_data\\202211-citibike-tripdata_1.csv',
 'C:\\Data\\Citibike_NY_2022\\2022-citibike-tripdata\\extracted_data\\202211-citibike-tripdata_2.csv',
 'C:\\Data\\Citibike_NY_2022\\2022-citibike-tripdata\\extracted_data\\202211-citibike-tripdata_3.csv',
 'C:\\Data\\Citibike_NY_2022\\2022-citibike-tripdata\\extracted_data\\202212-citibike-tripdata_1.csv',
 'C:\\Data\\Citibike_NY_2022\\2022-citibike-tripdata\\extracted_data\\202212-citibike-tripdata_2.csv']

In [4]:
# Read and concatenate all files simultaneously. Pass through each file in the filepath list and read the csv,
# then appstart it underneath the previous file while keeping columns

df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)

C:\Users\seank\AppData\Local\Temp\ipykernel_15032\3335353928.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\seank\AppData\Local\Temp\ipykernel_15032\3335353928.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\seank\AppData\Local\Temp\ipykernel_15032\3335353928.py:4: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\seank\AppData\Local\Temp\ipykernel_15032\3335353928.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\seank\AppData\Local\Temp\ipykernel_15032\3335353928.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\seank\AppData\Local\Temp\ipykernel_15032\3335353928.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\seank\AppData\Local\Temp\ipykernel_15032\3335353928.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\seank\AppData\Local\Temp\ipykernel_15032\3335353928.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\seank\AppData\Local\Temp\ipykernel_15032\3335353928.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\seank\AppData\Local\Temp\ipykernel_15032\3335353928.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\seank\AppData\Local\Temp\ipykernel_15032\3335353928.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\seank\AppData\Local\Temp\ipykernel_15032\3335353928.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\seank\AppData\Local\Temp\ipykernel_15032\3335353928.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\seank\AppData\Local\Temp\ipykernel_15032\3335353928.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\seank\AppData\Local\Temp\ipykernel_15032\3335353928.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\seank\AppData\Local\Temp\ipykernel_15032\3335353928.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\seank\AppData\Local\Temp\ipykernel_15032\3335353928.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\seank\AppData\Local\Temp\ipykernel_15032\3335353928.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\seank\AppData\Local\Temp\ipykernel_15032\3335353928.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\seank\AppData\Local\Temp\ipykernel_15032\3335353928.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\seank\AppData\Local\Temp\ipykernel_15032\3335353928.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\seank\AppData\Local\Temp\ipykernel_15032\3335353928.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\seank\AppData\Local\Temp\ipykernel_15032\3335353928.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\seank\AppData\Local\Temp\ipykernel_15032\3335353928.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\seank\AppData\Local\Temp\ipykernel_15032\3335353928.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\seank\AppData\Local\Temp\ipykernel_15032\3335353928.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\seank\AppData\Local\Temp\ipykernel_15032\3335353928.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\seank\AppData\Local\Temp\ipykernel_15032\3335353928.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\seank\AppData\Local\Temp\ipykernel_15032\3335353928.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\seank\AppData\Local\Temp\ipykernel_15032\3335353928.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\seank\AppData\Local\Temp\ipykernel_15032\3335353928.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\seank\AppData\Local\Temp\ipykernel_15032\3335353928.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\seank\AppData\Local\Temp\ipykernel_15032\3335353928.py:4: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\seank\AppData\Local\Temp\ipykernel_15032\3335353928.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\seank\AppData\Local\Temp\ipykernel_15032\3335353928.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)

In [5]:
df.shape

(29838806, 13)

In [6]:
df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,BFD29218AB271154,electric_bike,2022-01-21 13:13:43.392,2022-01-21 13:22:31.463,West End Ave & W 107 St,7650.05,Mt Morris Park W & W 120 St,7685.14,40.802117,-73.968181,40.804038,-73.945925,member
1,7C953F2FD7BE1302,classic_bike,2022-01-10 11:30:54.162,2022-01-10 11:41:43.422,4 Ave & 3 St,4028.04,Boerum Pl\t& Pacific St,4488.09,40.673746,-73.985649,40.688489,-73.991160,member
2,95893ABD40CED4B8,electric_bike,2022-01-26 10:52:43.096,2022-01-26 11:06:35.227,1 Ave & E 62 St,6753.08,5 Ave & E 29 St,6248.06,40.761227,-73.960940,40.745168,-73.986831,member
3,F853B50772137378,classic_bike,2022-01-03 08:35:48.247,2022-01-03 09:10:50.475,2 Ave & E 96 St,7338.02,5 Ave & E 29 St,6248.06,40.783964,-73.947167,40.745168,-73.986831,member
4,7590ADF834797B4B,classic_bike,2022-01-22 14:14:23.043,2022-01-22 14:34:57.474,6 Ave & W 34 St,6364.10,5 Ave & E 29 St,6248.06,40.749640,-73.988050,40.745168,-73.986831,member

In [7]:
df.dtypes

ride_id                object
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id       object
end_station_name       object
end_station_id         object
start_lat             float64
start_lng             float64
end_lat               float64
end_lng               float64
member_casual          object
dtype: object

In [8]:
# converting times to datetime
df['started_at'] = pd.to_datetime(df['started_at'], dayfirst=False)
df['ended_at'] = pd.to_datetime(df['ended_at'], dayfirst=False)

# Extracting date
df['date'] = pd.to_datetime(df['started_at'], format='%Y-%m-%d').dt.date
df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,date
0,BFD29218AB271154,electric_bike,2022-01-21 13:13:43.392,2022-01-21 13:22:31.463,West End Ave & W 107 St,7650.05,Mt Morris Park W & W 120 St,7685.14,40.802117,-73.968181,40.804038,-73.945925,member,2022-01-21
1,7C953F2FD7BE1302,classic_bike,2022-01-10 11:30:54.162,2022-01-10 11:41:43.422,4 Ave & 3 St,4028.04,Boerum Pl\t& Pacific St,4488.09,40.673746,-73.985649,40.688489,-73.991160,member,2022-01-10
2,95893ABD40CED4B8,electric_bike,2022-01-26 10:52:43.096,2022-01-26 11:06:35.227,1 Ave & E 62 St,6753.08,5 Ave & E 29 St,6248.06,40.761227,-73.960940,40.745168,-73.986831,member,2022-01-26
3,F853B50772137378,classic_bike,2022-01-03 08:35:48.247,2022-01-03 09:10:50.475,2 Ave & E 96 St,7338.02,5 Ave & E 29 St,6248.06,40.783964,-73.947167,40.745168,-73.986831,member,2022-01-03
4,7590ADF834797B4B,classic_bike,2022-01-22 14:14:23.043,2022-01-22 14:34:57.474,6 Ave & W 34 St,6364.10,5 Ave & E 29 St,6248.06,40.749640,-73.988050,40.745168,-73.986831,member,2022-01-22

## Retrieving Weather Data

Using LaGuardia Airport (id GHCND:USW00014732 ) data from https://www.ncdc.noaa.gov/cdo-web/datatools/findstation (accessed 20/06/25)

In [9]:
load_dotenv()  # Loading environment variables from .env file

Token = os.environ.get('NOAA_TOKEN')

print(f"Token loaded: {Token}");

Token loaded: elVvdrcIkpxEAWPxKSzWsJZeNccsEHnv

In [10]:
headers = {'token': Token}
url = 'https://www.ncdc.noaa.gov/cdo-web/api/v2/data'

# defining what data to fetch
params = {
    'datasetid': 'GHCND',
    'datatypeid': ['TAVG', 'PRCP', 'AWND'], 
    'stationid': 'GHCND:USW00014732',
    'startdate': '2022-01-01',
    'enddate': '2022-12-31',
    'limit': 1000,
    'offset': 1
}
# empty list to store all records from all pages
all_results = []
# starting loop that will break when end of data reached
while True:
    r = requests.get(url, headers=headers, params=params)   # send API request with above params
    data = r.json() # parse json response to python dictionary
    results = data.get('results', [])   # extrac the results elements of the response

    if not results:
        break  # Exit the loop if no more data to fetch

    all_results.extend(results) # add fetched results to main list
    params['offset'] += 1000  # since the limit for the api is 1000

    print(f"Fetched {len(results)} records, total so far: {len(all_results)}")  # print progress

Fetched 1000 records, total so far: 1000
Fetched 95 records, total so far: 1095

In [11]:
print(365*3)

1095

In [12]:
# Convert to df
d = pd.DataFrame(all_results)
print(d.shape)
print(d.head())
print(d.tail())

(1095, 5)
                  date datatype            station attributes  value
0  2022-01-01T00:00:00     AWND  GHCND:USW00014732       ,,W,     28
1  2022-01-01T00:00:00     PRCP  GHCND:USW00014732   ,,W,2400    193
2  2022-01-01T00:00:00     TAVG  GHCND:USW00014732      H,,S,    116
3  2022-01-02T00:00:00     AWND  GHCND:USW00014732       ,,W,     43
4  2022-01-02T00:00:00     PRCP  GHCND:USW00014732   ,,W,2400     10
                     date datatype            station attributes  value
1090  2022-12-30T00:00:00     PRCP  GHCND:USW00014732   ,,W,2400      0
1091  2022-12-30T00:00:00     TAVG  GHCND:USW00014732      H,,S,     93
1092  2022-12-31T00:00:00     AWND  GHCND:USW00014732       ,,W,     21
1093  2022-12-31T00:00:00     PRCP  GHCND:USW00014732   ,,W,2400     79
1094  2022-12-31T00:00:00     TAVG  GHCND:USW00014732      H,,S,     82

In [13]:
# dropping time from date var
d['date'] = pd.to_datetime(d['date']).dt.date
d.head()

         date datatype            station attributes  value
0  2022-01-01     AWND  GHCND:USW00014732       ,,W,     28
1  2022-01-01     PRCP  GHCND:USW00014732   ,,W,2400    193
2  2022-01-01     TAVG  GHCND:USW00014732      H,,S,    116
3  2022-01-02     AWND  GHCND:USW00014732       ,,W,     43
4  2022-01-02     PRCP  GHCND:USW00014732   ,,W,2400     10

In [14]:
# pivotting to wide so each row = one day
wide_weather = d.pivot(index='date',
                       columns='datatype',
                       values='value')
wide_weather = wide_weather.reset_index()
wide_weather.head()

datatype        date  AWND  PRCP  TAVG
0         2022-01-01    28   193   116
1         2022-01-02    43    10   114
2         2022-01-03    64     0    14
3         2022-01-04    39     0   -27
4         2022-01-05    34    61    32

In [15]:
wide_weather.columns

Index(['date', 'AWND', 'PRCP', 'TAVG'], dtype='object', name='datatype')

In [16]:
# Remove 'datatype' label which is leftover from pivot
wide_weather.columns.name = None
wide_weather.columns

Index(['date', 'AWND', 'PRCP', 'TAVG'], dtype='object')

In [17]:
# Saving in case there's future issues with data or API access
wide_weather.to_csv(r'C:\Data\Citibike_NY_2022\wide_weather.csv',index=False)

## Merging citibike to weather data

In [18]:
df_all = pd.merge(df, wide_weather,
                  how = 'inner',
                  on = 'date',
                  indicator=True)

In [19]:
df_all = df_all.sort_values(by='date')

In [20]:
df_all.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,date,AWND,PRCP,TAVG,_merge
337365,FB33E3D8F21E2941,electric_bike,2022-01-01 01:49:37.374,2022-01-01 01:57:50.346,Canal St & Rutgers St,5303.08,Norfolk St & Broome St,5374.01,40.714275,-73.989900,40.717227,-73.988021,casual,2022-01-01,28,193,116,both
934147,755337295F178067,electric_bike,2022-01-01 03:21:09.754,2022-01-01 03:49:33.047,Lewis Ave & Madison St,4425.02,Columbia St & Degraw St,4422.04,40.686312,-73.935775,40.685930,-74.002424,member,2022-01-01,28,193,116,both
227118,C62CA87E3A475ADD,classic_bike,2022-01-01 08:38:18.156,2022-01-01 08:47:54.213,Carlton Ave & Park Ave,4732.04,Emerson Pl & Myrtle Ave,4683.02,40.695807,-73.973556,40.693631,-73.962236,casual,2022-01-01,28,193,116,both
913138,CD7A2098AFCD5514,classic_bike,2022-01-01 10:33:58.529,2022-01-01 10:47:05.197,W 100 St & Broadway,7580.01,W 67 St & Broadway,7116.04,40.797372,-73.970412,40.774925,-73.982666,casual,2022-01-01,28,193,116,both
127328,3F9E0C51F49F78A3,electric_bike,2022-01-01 20:05:19.592,2022-01-01 20:12:00.661,W 18 St & 6 Ave,6064.08,W 42 St & 6 Ave,6517.08,40.739713,-73.994564,40.754920,-73.984550,member,2022-01-01,28,193,116,both

In [21]:
df_all.tail()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,date,AWND,PRCP,TAVG,_merge
28674012,048F372A8932AF74,classic_bike,2022-12-31 09:42:43.255,2022-12-31 09:53:40.001,Franklin St & W Broadway,5430.08,W 25 St & 6 Ave,6215.04,40.719116,-74.006667,40.743954,-73.991449,member,2022-12-31,21,79,82,both
28817575,96B836FC53F5B659,electric_bike,2022-12-31 12:43:53.932,2022-12-31 12:49:30.908,Eastern Pkwy & Franklin Ave,3919.07,Monroe St & Classon Ave,4336.01,40.670777,-73.957680,40.684568,-73.958811,member,2022-12-31,21,79,82,both
29544081,757B088CF96FCBE1,electric_bike,2022-12-31 16:52:05.623,2022-12-31 16:56:09.677,W 63 St & Broadway,7052.01,W 53 St & 10 Ave,6890.01,40.771597,-73.982601,40.766697,-73.990617,member,2022-12-31,21,79,82,both
28330742,8F4E623EA5E0FF21,classic_bike,2022-12-31 19:09:13.320,2022-12-31 19:15:34.353,E 82 St & East End Ave,7049.04,E 78 St & 2 Ave,7057.07,40.772461,-73.946821,40.772797,-73.955778,member,2022-12-31,21,79,82,both
29754095,4BD35140231675EB,electric_bike,2022-12-31 19:14:19.795,2022-12-31 20:03:00.165,W 192 St & University Ave,8639.01,W 192 St & University Ave,8639.01,40.866914,-73.901737,40.866899,-73.901942,member,2022-12-31,21,79,82,both

In [22]:
df_all['_merge'].value_counts(dropna=False)

_merge
both          29838166
left_only            0
right_only           0
Name: count, dtype: int64

In [23]:
# dropping merge col
df_all = df_all.drop(columns=['_merge'])

## Data Cleaning

Missings

In [26]:
df_all.isnull().sum()

ride_id                   0
rideable_type             0
started_at                0
ended_at                  0
start_station_name       49
start_station_id         49
end_station_name      69884
end_station_id        69884
start_lat                 0
start_lng                 0
end_lat               37223
end_lng               37223
member_casual             0
date                      0
AWND                      0
PRCP                      0
TAVG                      0
dtype: int64

In [27]:
before = len(df_all)
df_all = df_all.dropna()
after = len(df_all)
print(f"Dropped {before - after} rows (from {before} to {after})")

Dropped 69884 rows (from 29838166 to 29768282)

In [28]:
# Checking data types
df_all.dtypes

ride_id                       object
rideable_type                 object
started_at            datetime64[ns]
ended_at              datetime64[ns]
start_station_name            object
start_station_id              object
end_station_name              object
end_station_id                object
start_lat                    float64
start_lng                    float64
end_lat                      float64
end_lng                      float64
member_casual                 object
date                          object
AWND                           int64
PRCP                           int64
TAVG                           int64
dtype: object

In [29]:
# Check for mixed data types
for column in df_all.columns:
    if df_all[column].apply(type).nunique() > 1:
        print(f"Column '{column}' has mixed data types.")

Column 'start_station_id' has mixed data types.
Column 'end_station_id' has mixed data types.

In [30]:
# Converting to string (in a way that would preserve any missings)
cols = ['start_station_id', 'end_station_id', 'start_station_name', 'end_station_name']
df_all[cols] = df_all[cols].apply(lambda s: s.where(s.notna(), np.nan).astype("string"))

In [31]:
for column in df_all.columns:
    if df_all[column].apply(type).nunique() > 1:
        print(f"Column '{column}' has mixed data types.")

Making sure station data is aligned (name, id, coordinates)

In [32]:
# Grouping by id and see how many unique names exist for each station id
start_check = (
    df_all.groupby('start_station_id')['start_station_name']
    .nunique()
    .reset_index(name='unique_start_names_per_id')
)

In [33]:
len(start_check)

1831

In [34]:
# Filter where more than 1 name per ID
start_mismatches = start_check[start_check['unique_start_names_per_id'] > 1]
print(start_mismatches)

     start_station_id  unique_start_names_per_id
29            3138.09                          2
33            3178.02                          2
350           4488.09                          2
373           4565.04                          2
445           4781.05                          3
580           5164.05                          2
627           5323.06                          2
631           5329.08                          3
647           5359.13                          2
657           5382.07                          3
750           5669.12                          2
807           5883.06                          2
944           6300.04                          2
1031          6535.04                          3
1039          6560.14                          2
1097          6708.04                          3
1670          8241.07                          2
1724          8432.11                          2

In [35]:
start_mismatches.shape

(18, 2)

In [36]:
# Grouping by id and see how many unique names exist for each
end_check = (
    df_all.groupby('end_station_id')['end_station_name']
    .nunique()
    .reset_index(name='unique_end_names_per_id')
)

In [37]:
len(end_check)

1909

In [38]:
end_check.head(10)

  end_station_id  unique_end_names_per_id
0        2733.03                        1
1        2782.02                        1
2        2821.05                        1
3        2832.03                        1
4        2872.02                        1
5        2883.03                        1
6        2912.08                        1
7        2923.01                        1
8        2932.01                        1
9        2932.03                        1

In [39]:
# Filter where more than 1 name per ID
end_mismatches = end_check[end_check['unique_end_names_per_id'] > 1]
print(end_mismatches)

     end_station_id  unique_end_names_per_id
29          3138.09                        2
33          3178.02                        2
349         4488.09                        2
444         4781.05                        3
579         5164.05                        2
626         5323.06                        2
630         5329.08                        3
646         5359.13                        2
656         5382.07                        3
749         5669.12                        2
790         5805.07                        2
806         5883.06                        2
943         6300.04                        2
1030        6535.04                        3
1038        6560.14                        2
1096        6708.04                        3
1669        8241.07                        2
1721        8428.05                        2
1723        8432.11                        2

In [40]:
end_mismatches.shape

(19, 2)

In [41]:
# Get problematic end station IDs
bad_start_ids = start_mismatches['start_station_id'].unique()
bad_end_ids = end_mismatches['end_station_id'].unique()

In [42]:
bad_start_ids.shape

(18,)

In [43]:
bad_end_ids.shape

(19,)

In [44]:
# Filter those rows in main df
end_problem_rows = df_all[df_all['end_station_id'].isin(bad_end_ids)]
start_problem_rows = df_all[df_all['start_station_id'].isin(bad_start_ids)]

In [45]:
start_problem_rows.shape

(316610, 17)

In [46]:
# Inspect these different versions of names on station ids

with pd.option_context('display.max_rows', None):  
    print(
    df_all[df_all['end_station_id'].isin(bad_end_ids)]
    .groupby(['end_station_id', 'end_station_name'])
    .size()
    .reset_index(name='count')
    .sort_values(['end_station_id', 'count'], ascending=[True, False])
)

   end_station_id                                   end_station_name  count
0         3138.09                                      58 St & 2 Ave   1601
1         3138.09  58 St & 2 Ave - Brooklyn Army Terminal Vaccina...    623
2         3178.02                                      57 St & 1 Ave   1764
3         3178.02  57 St & 1 Ave - Brooklyn Army Terminal Vaccina...    395
5         4488.09                            Boerum Pl\t& Pacific St  17687
4         4488.09                             Boerum Pl	& Pacific St     93
8         4781.05                           Nassau St\t& Duffield St   9841
7         4781.05                            Nassau St & Duffield St   1432
6         4781.05                            Nassau St	& Duffield St    149
9         5164.05                                Broadway & Berry St  13806
10        5164.05                              Broadway and Berry St    748
11        5323.06                               Sharon St & Olive St   6724
12        5323.06                           Sharon St & Olive St_new      3
15        5329.08                               Murray St\t& West St  13923
14        5329.08                                Murray St & West St   3541
13        5329.08                                Murray St	& West St    228
17        5359.13                               Church St & Worth St   4871
16        5359.13                              Church St & Thomas St     50
20        5382.07                             Forsyth St\t& Grand St  53302
19        5382.07                              Forsyth St & Grand St   9339
18        5382.07                              Forsyth St	& Grand St    344
21        5669.12                                     E 6 St & 2 Ave  28060
22        5669.12                                       E 6 St 2 Ave     11
24        5805.07                              7 Ave S & Bleecker St  48887
23        5805.07                                7 Ave & Bleecker St      1
25        5883.06                        Van Dam St & Greenpoint Ave   1836
26        5883.06                            Van Dam St & Review Ave     56
28        6300.04                              Skillman Ave & 43 Ave   2847
27        6300.04                               Skillman Ave & 32 Pl     61
31        6535.04                           W 34 St &\tHudson Blvd E  39989
30        6535.04                            W 34 St & Hudson Blvd E   7578
29        6535.04                            W 34 St &	Hudson Blvd E    685
32        6560.14                                    W 40 St & 7 Ave  16666
33        6560.14                                    W 40 St & 8 Ave     11
36        6708.04                                Broadway\t& W 48 St  47623
35        6708.04                                 Broadway & W 48 St   9063
34        6708.04                                 Broadway	& W 48 St   1287
37        8241.07                                   3 Ave & E 174 St   2599
38        8241.07       3 Ave & E 174 St - Bathgate Vaccination Site    565
39        8428.05                       Sedgwick Ave & W Tremont Ave    730
40        8428.05                 Sedgwick Ave & W Tremont Ave - new      1
41        8432.11                           Amsterdam Ave & W 189 St   1304
42        8432.11                       Amsterdam Ave & W 189 St new     55

In [47]:
with pd.option_context('display.max_rows', None):   
    print(
    df_all[df_all['start_station_id'].isin(bad_start_ids)]
    .groupby(['start_station_id', 'start_station_name'])
    .size()
    .reset_index(name='count')
    .sort_values(['start_station_id', 'count'], ascending=[True, False])
)

   start_station_id                                 start_station_name  count
0           3138.09                                      58 St & 2 Ave   1476
1           3138.09  58 St & 2 Ave - Brooklyn Army Terminal Vaccina...    551
2           3178.02                                      57 St & 1 Ave   1659
3           3178.02  57 St & 1 Ave - Brooklyn Army Terminal Vaccina...    360
5           4488.09                            Boerum Pl\t& Pacific St  17335
4           4488.09                             Boerum Pl	& Pacific St     80
6           4565.04                         Schermerhorn St & Court St  17055
7           4565.04                       Schermerhorn St and Court St      2
10          4781.05                           Nassau St\t& Duffield St   9541
9           4781.05                            Nassau St & Duffield St   1416
8           4781.05                            Nassau St	& Duffield St    116
11          5164.05                                Broadway & Berry St  13748
12          5164.05                              Broadway and Berry St    738
13          5323.06                               Sharon St & Olive St   6783
14          5323.06                           Sharon St & Olive St_new      3
17          5329.08                               Murray St\t& West St  14352
16          5329.08                                Murray St & West St   3519
15          5329.08                                Murray St	& West St    111
19          5359.13                               Church St & Worth St   4841
18          5359.13                              Church St & Thomas St     18
22          5382.07                             Forsyth St\t& Grand St  52973
21          5382.07                              Forsyth St & Grand St   9325
20          5382.07                              Forsyth St	& Grand St    340
23          5669.12                                     E 6 St & 2 Ave  26835
24          5669.12                                       E 6 St 2 Ave      6
25          5883.06                        Van Dam St & Greenpoint Ave   1774
26          5883.06                            Van Dam St & Review Ave     52
28          6300.04                              Skillman Ave & 43 Ave   2869
27          6300.04                               Skillman Ave & 32 Pl     53
31          6535.04                           W 34 St &\tHudson Blvd E  39014
30          6535.04                            W 34 St & Hudson Blvd E   7529
29          6535.04                            W 34 St &	Hudson Blvd E    920
32          6560.14                                    W 40 St & 7 Ave  17747
33          6560.14                                    W 40 St & 8 Ave      8
36          6708.04                                Broadway\t& W 48 St  48390
35          6708.04                                 Broadway & W 48 St   9054
34          6708.04                                 Broadway	& W 48 St   1459
37          8241.07                                   3 Ave & E 174 St   2606
38          8241.07       3 Ave & E 174 St - Bathgate Vaccination Site    555
39          8432.11                           Amsterdam Ave & W 189 St   1350
40          8432.11                       Amsterdam Ave & W 189 St new     47

These are mostly typos or leading spaces, some have an extra suffix (e.g., Army Vaccination, new...), but they can all be made identical. So now assigning most commonly occuring name to each station

In [48]:
# Group and get the most common name per end_station_id
most_common_end_names = (
    df_all.groupby(['end_station_id', 'end_station_name'])
    .size()
    .reset_index(name='count')
    .sort_values(['end_station_id', 'count'], ascending=[True, False])
    .drop_duplicates(subset='end_station_id')  # keep top name per ID
)

# Create a dictionary mapping: {end_station_id: most_common_name}
end_station_name_map = dict(
    zip(most_common_end_names['end_station_id'], most_common_end_names['end_station_name'])
)

In [49]:
# same for starts
most_common_start_names = (
    df_all.groupby(['start_station_id', 'start_station_name'])
    .size()
    .reset_index(name='count')
    .sort_values(['start_station_id', 'count'], ascending=[True, False])
    .drop_duplicates(subset='start_station_id')  # keep top name per ID
)

#  dictionary mapping: {start_station_id: most_common_name}
start_station_name_map = dict(
    zip(most_common_start_names['start_station_id'], most_common_start_names['start_station_name'])
)

In [50]:
# Replace original columns with consistent names
df_all['start_station_name'] = df_all['start_station_id'].map(start_station_name_map)
df_all['end_station_name'] = df_all['end_station_id'].map(end_station_name_map)

In [51]:
# Check again for end station mismatches
end_check = (
    df_all.groupby('end_station_id')['end_station_name']
    .nunique()
    .reset_index(name='unique_end_names_per_id')
)
end_mismatches = end_check[end_check['unique_end_names_per_id'] > 1]

# Same for start stations
start_check = (
    df_all.groupby('start_station_id')['start_station_name']
    .nunique()
    .reset_index(name='unique_start_names_per_id')
)
start_mismatches = start_check[start_check['unique_start_names_per_id'] > 1]

In [52]:
len(start_mismatches)

0

In [53]:
len(end_mismatches)

0

Checking that each name only has one station id

In [54]:
# Grouping by name, counting and capturing the unique ids per name
start_id_check = (
    df_all.groupby('start_station_name')['start_station_id']
    .agg(unique_start_ids_per_name='nunique', ids_list=lambda x: sorted(x.unique()))
    .reset_index()
)

# Filter for mismatches
start_id_check = start_id_check[start_id_check['unique_start_ids_per_name'] > 1]

with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    print(start_id_check)

                       start_station_name  unique_start_ids_per_name  \
52                        2 Ave & E 99 St                          2
75                         24 Ave & 26 St                          2
100                       3 Ave & E 71 St                          2
107                        3 St & Hoyt St                          2
109                        30 Ave & 12 St                          2
120                  31 Ave & Crescent St                          2
130                   31 St & Newtown Ave                          2
138                        34 Ave & 45 St                          2
158                  36 St & Ditmars Blvd                          2
244                       5 Ave & E 93 St                          2
254                        51 St & 43 Ave                          2
284                       6 Ave & W 34 St                          2
286                     6 Ave & Walker St                          2
287                          6 St & 7 Ave                          2
348                Adams St & Prospect St                          2
356                  Allen St & Hester St                          2
359              Amsterdam Ave & W 119 St                          2
364              Amsterdam Ave & W 156 St                          2
372              Amsterdam Ave & W 189 St                          2
376               Amsterdam Ave & W 82 St                          2
393                        Ave D & E 8 St                          2
428            Bergen St & Vanderbilt Ave                          2
436                   Bond St & Bergen St                          2
445             Brevoort Pl & Bedford Ave                          2
454                   Broadway & Berry St                          2
457                    Broadway & E 21 St                          2
462                 Broadway & Madison St                          2
488                    Broadway & W 58 St                          2
514               Cabrini Blvd & W 177 St                          2
546              Central Ave & Decatur St                          2
552             Central Ave & Woodbine St                          2
576            Classon Ave & St Marks Ave                          2
592                Coffey St & Conover St                          2
610              Congress St & Clinton St                          2
613                Convent Ave & W 151 St                          2
633             Dawson St & Intervale Ave                          2
643             Decatur St & Saratoga Ave                          2
667               Dwight St & Van Dyke St                          2
708                E 138 St & Cypress Ave                          2
712                       E 14 St & 1 Ave                          2
716                      E 142 St & 3 Ave                          2
759                     E 2 St & Avenue A                          2
788     E 41 St & Madison Ave (SE corner)                          2
795                       E 47 St & 2 Ave                          2
802                    E 50 St & Park Ave                          2
814           E 58 St & 1 Ave (NW Corner)                          2
842                    E 81 St & Park Ave                          2
851                    E 88 St & Park Ave                          2
852                       E 89 St & 3 Ave                          2
854                        E 9 St & 5 Ave                          2
953     Grand Army Plaza & Central Park S                          2
958            Grand Concourse & E 144 St                          2
990              Greenwich St & Hubert St                          2
1020           Herkimer St & Eastern Pkwy                          2
1030                 Hudson St & Reade St                          2
1039      Intervale Ave & Westchester Ave                          2
1048              Jackson St & Leonard St                          2
1073            Kent St & McGuinness Blvd                          2
1099                 Lenox Ave & W 115 St                          2
1106                 Lenox Ave & W 146 St                          2
1123              Lexington Ave & E 36 St                          2
1135         Longwood Ave & Southern Blvd                          2
1160          Madison St & Malcolm X Blvd                          2
1164                 Maiden Ln & Pearl St                          2
1215            Morris Ave & McClellan St                          2
1234                 N 6 St & Bedford Ave                          2
1260            Onderdonk Ave & Gates Ave                          2
1335                  Reade St & Broadway                          2
1351               Riverside Dr & W 82 St                          2
1371           Schermerhorn St & Court St                          2
1372            Schermerhorn St & Hoyt St                          2
1378         Sedgwick Ave & W Tremont Ave                          2
1381                 Sharon St & Olive St                          2
1410                Spruce St & Nassau St                          2
1411       St Ann's Ave & Westchester Ave                          2
1419                  St Marks Pl & 2 Ave                          2
1420                  St Marks Pl & 4 Ave                          2
1423           St Nicholas Ave & W 134 St                          2
1429          St. Nicholas Ave & W 126 St                          2
1446              Stephen St & Seneca Ave                          2
1458          Stuyvesant Walk & 1 Av Loop                          2
1497           Van Brunt St & Van Dyke St                          2
1526                  W 12 St & Hudson St                          2
1534  W 144 St & Adam Clayton Powell Blvd                          2
1546             W 163 St & Edgecombe Ave                          2
1559          W 186 St & St. Nicholas Ave                          2
1569                    W 211 St & 10 Ave                          2
1618                      W 51 St & 6 Ave                          2
1634               W 74 St & Columbus Ave                          2
1661                Walton Ave & E 171 St                          2
1679              Water St &  Fletcher St                          2
1695            West Farms Rd & Boone Ave                          2

                ids_list
52     [7386.1, 7386.10]
75     [7152.1, 7152.10]
100    [6960.1, 6960.10]
107    [4110.1, 4110.10]
109   [7034.08, 7034.09]
120    [6893.1, 6893.10]
130    [6923.2, 6923.20]
138    [6596.1, 6596.10]
158    [7111.1, 7111.10]
244    [7372.1, 7372.10]
254    [6242.1, 6242.10]
284    [6364.1, 6364.10]
286    [5430.1, 5430.10]
287    [3834.1, 3834.10]
348    [4821.1, 4821.10]
356    [5342.1, 5342.10]
359   [7727.07, 7727.08]
364    [8104.1, 8104.10]
372   [8432.04, 8432.11]
376    [7360.1, 7360.10]
393    [5506.1, 5506.10]
428    [4157.1, 4157.10]
436    [4404.1, 4404.10]
445    [4181.1, 4181.10]
454   [5164.04, 5164.05]
457    [6098.1, 6098.10]
462    [4483.1, 4483.10]
488    [6948.1, 6948.10]
514    [8358.1, 8358.10]
546    [4432.1, 4432.10]
552    [4632.1, 4632.10]
576   [4074.03, 4074.14]
592    [4137.1, 4137.10]
610    [4455.1, 4455.10]
613    [8049.1, 8049.10]
633    [7888.1, 7888.10]
643    [4366.1, 4366.10]
667    [3981.1, 3981.10]
708    [7669.1, 7669.10]
712    [5779.1, 5779.10]
716    [7781.1, 7781.10]
759    [5553.1, 5553.10]
788    [6432.1, 6432.10]
795    [6498.1, 6498.10]
802    [6659.1, 6659.10]
814    [6723.1, 6723.10]
842    [7188.1, 7188.10]
851    [7293.1, 7293.10]
852    [7265.1, 7265.10]
854    [5872.1, 5872.10]
953    [6839.1, 6839.10]
958    [7845.06, 7845.1]
990    [5470.1, 5470.10]
1020   [4129.1, 4129.10]
1030   [5359.1, 5359.10]
1039   [7948.1, 7948.10]
1048   [5332.1, 5332.10]
1073   [5785.1, 5785.10]
1099   [7627.1, 7627.10]
1106   [7910.1, 7910.10]
1123   [6313.1, 6313.10]
1135   [7849.1, 7849.10]
1160   [4416.1, 4416.10]
1164   [5065.1, 5065.10]
1215   [8107.1, 8107.10]
1234   [5379.1, 5379.10]
1260   [4994.1, 4994.10]
1335   [5247.1, 5247.10]
1351   [7388.1, 7388.10]
1371  [4565.04, 4565.07]
1372   [4479.1, 4479.10]
1378  [8428.03, 8428.05]
1381  [5323.05, 5323.06]
1410   [5137.1, 5137.10]
1411   [7835.1, 7835.10]
1419   [5669.1, 5669.10]
1420   [4249.1, 4249.10]
1423   [7837.3, 7837.30]
1429   [7756.1, 7756.10]
1446   [4798.1, 4798.10]
1458   [5854.1, 5854.10]
1497   [4095.1, 4095.10]
1526   [5997.1, 5997.10]
1534   [7932.1, 7932.10]
1546   [8153.1, 8153.10]
1559   [8416.1, 8416.10]
1569   [8647.1, 8647.10]
1618   [6740.1, 6740.10]
1634   [7230.1, 7230.10]
1661   [8249.1, 8249.10]
1679   [5024.1, 5024.10]
1695  [8076.01, 8076.08]

In [55]:
end_id_check = (
    df_all.groupby('end_station_name')['end_station_id']
    .agg(unique_end_ids_per_name='nunique', ids_list=lambda x: sorted(x.unique()))
    .reset_index()
)

# Filter for mismatches
end_id_check = end_id_check[end_id_check['unique_end_ids_per_name'] > 1]

with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    print(end_id_check)

                         end_station_name  unique_end_ids_per_name  \
55                        2 Ave & E 99 St                        2
78                         24 Ave & 26 St                        2
103                       3 Ave & E 71 St                        2
110                        3 St & Hoyt St                        2
112                        30 Ave & 12 St                        2
123                  31 Ave & Crescent St                        2
133                   31 St & Newtown Ave                        2
141                        34 Ave & 45 St                        2
161                  36 St & Ditmars Blvd                        2
248                       5 Ave & E 93 St                        2
259                        51 St & 43 Ave                        2
289                       6 Ave & W 34 St                        2
291                     6 Ave & Walker St                        2
292                          6 St & 7 Ave                        2
359                Adams St & Prospect St                        2
367                  Allen St & Hester St                        2
370              Amsterdam Ave & W 119 St                        2
375              Amsterdam Ave & W 156 St                        2
383              Amsterdam Ave & W 189 St                        2
387               Amsterdam Ave & W 82 St                        2
406                        Ave D & E 8 St                        2
445            Bergen St & Vanderbilt Ave                        2
454                   Bond St & Bergen St                        2
472                   Broadway & Berry St                        2
475                    Broadway & E 21 St                        2
480                 Broadway & Madison St                        2
506                    Broadway & W 58 St                        2
532               Cabrini Blvd & W 177 St                        2
564              Central Ave & Decatur St                        2
570             Central Ave & Woodbine St                        2
598            Classon Ave & St Marks Ave                        2
616                Coffey St & Conover St                        2
637              Congress St & Clinton St                        2
640                Convent Ave & W 151 St                        2
660             Dawson St & Intervale Ave                        2
696               Dwight St & Van Dyke St                        2
737                E 138 St & Cypress Ave                        2
741                       E 14 St & 1 Ave                        2
745                      E 142 St & 3 Ave                        2
788                     E 2 St & Avenue A                        2
817     E 41 St & Madison Ave (SE corner)                        2
824                       E 47 St & 2 Ave                        2
831                    E 50 St & Park Ave                        2
843           E 58 St & 1 Ave (NW Corner)                        2
871                    E 81 St & Park Ave                        2
880                    E 88 St & Park Ave                        2
881                       E 89 St & 3 Ave                        2
883                        E 9 St & 5 Ave                        2
985     Grand Army Plaza & Central Park S                        2
990            Grand Concourse & E 144 St                        2
1024             Greenwich St & Hubert St                        2
1058           Herkimer St & Eastern Pkwy                        2
1072                 Hudson St & Reade St                        2
1081      Intervale Ave & Westchester Ave                        2
1089                    JC Medical Center                        2
1092              Jackson St & Leonard St                        2
1120            Kent St & McGuinness Blvd                        2
1147                 Lenox Ave & W 115 St                        2
1154                 Lenox Ave & W 146 St                        2
1171              Lexington Ave & E 36 St                        2
1185         Longwood Ave & Southern Blvd                        2
1211          Madison St & Malcolm X Blvd                        2
1215                 Maiden Ln & Pearl St                        2
1273            Morris Ave & McClellan St                        2
1293                 N 6 St & Bedford Ave                        2
1323            Onderdonk Ave & Gates Ave                        2
1402                  Reade St & Broadway                        2
1418               Riverside Dr & W 82 St                        2
1440           Schermerhorn St & Court St                        2
1441            Schermerhorn St & Hoyt St                        2
1447         Sedgwick Ave & W Tremont Ave                        2
1450                 Sharon St & Olive St                        2
1482                Spruce St & Nassau St                        2
1483       St Ann's Ave & Westchester Ave                        2
1491                  St Marks Pl & 2 Ave                        2
1492                  St Marks Pl & 4 Ave                        2
1495           St Nicholas Ave & W 134 St                        2
1501          St. Nicholas Ave & W 126 St                        2
1518              Stephen St & Seneca Ave                        2
1532          Stuyvesant Walk & 1 Av Loop                        2
1571           Van Brunt St & Van Dyke St                        2
1601                  W 12 St & Hudson St                        2
1609  W 144 St & Adam Clayton Powell Blvd                        2
1621             W 163 St & Edgecombe Ave                        2
1634          W 186 St & St. Nicholas Ave                        2
1644                    W 211 St & 10 Ave                        2
1693                      W 51 St & 6 Ave                        2
1709               W 74 St & Columbus Ave                        2
1736                Walton Ave & E 171 St                        2
1756              Water St &  Fletcher St                        2
1772            West Farms Rd & Boone Ave                        2

                ids_list
55     [7386.1, 7386.10]
78     [7152.1, 7152.10]
103    [6960.1, 6960.10]
110    [4110.1, 4110.10]
112   [7034.08, 7034.09]
123    [6893.1, 6893.10]
133    [6923.2, 6923.20]
141    [6596.1, 6596.10]
161    [7111.1, 7111.10]
248    [7372.1, 7372.10]
259    [6242.1, 6242.10]
289    [6364.1, 6364.10]
291    [5430.1, 5430.10]
292    [3834.1, 3834.10]
359    [4821.1, 4821.10]
367    [5342.1, 5342.10]
370   [7727.07, 7727.08]
375    [8104.1, 8104.10]
383   [8432.04, 8432.11]
387    [7360.1, 7360.10]
406    [5506.1, 5506.10]
445    [4157.1, 4157.10]
454    [4404.1, 4404.10]
472   [5164.04, 5164.05]
475    [6098.1, 6098.10]
480    [4483.1, 4483.10]
506    [6948.1, 6948.10]
532    [8358.1, 8358.10]
564    [4432.1, 4432.10]
570    [4632.1, 4632.10]
598   [4074.03, 4074.14]
616    [4137.1, 4137.10]
637    [4455.1, 4455.10]
640    [8049.1, 8049.10]
660    [7888.1, 7888.10]
696    [3981.1, 3981.10]
737    [7669.1, 7669.10]
741    [5779.1, 5779.10]
745    [7781.1, 7781.10]
788    [5553.1, 5553.10]
817    [6432.1, 6432.10]
824    [6498.1, 6498.10]
831    [6659.1, 6659.10]
843    [6723.1, 6723.10]
871    [7188.1, 7188.10]
880    [7293.1, 7293.10]
881    [7265.1, 7265.10]
883    [5872.1, 5872.10]
985    [6839.1, 6839.10]
990    [7845.06, 7845.1]
1024   [5470.1, 5470.10]
1058   [4129.1, 4129.10]
1072   [5359.1, 5359.10]
1081   [7948.1, 7948.10]
1089      [JC011, JC110]
1092   [5332.1, 5332.10]
1120   [5785.1, 5785.10]
1147   [7627.1, 7627.10]
1154   [7910.1, 7910.10]
1171   [6313.1, 6313.10]
1185   [7849.1, 7849.10]
1211   [4416.1, 4416.10]
1215   [5065.1, 5065.10]
1273   [8107.1, 8107.10]
1293   [5379.1, 5379.10]
1323   [4994.1, 4994.10]
1402   [5247.1, 5247.10]
1418   [7388.1, 7388.10]
1440  [4565.04, 4565.07]
1441   [4479.1, 4479.10]
1447  [8428.03, 8428.05]
1450  [5323.05, 5323.06]
1482   [5137.1, 5137.10]
1483   [7835.1, 7835.10]
1491   [5669.1, 5669.10]
1492   [4249.1, 4249.10]
1495   [7837.3, 7837.30]
1501   [7756.1, 7756.10]
1518   [4798.1, 4798.10]
1532   [5854.1, 5854.10]
1571   [4095.1, 4095.10]
1601   [5997.1, 5997.10]
1609   [7932.1, 7932.10]
1621   [8153.1, 8153.10]
1634   [8416.1, 8416.10]
1644   [8647.1, 8647.10]
1693   [6740.1, 6740.10]
1709   [7230.1, 7230.10]
1736   [8249.1, 8249.10]
1756   [5024.1, 5024.10]
1772  [8076.01, 8076.08]

These are nearly all due to having an extra 0 in the decimal (having both 1.1 and 1.10). Making them all the same based on which has the most values

In [56]:
# Find the most common ID per station name
most_common_start_ids = (
    df_all.groupby(['start_station_name', 'start_station_id'])
    .size()
    .reset_index(name='count')
    .sort_values(['start_station_name', 'count'], ascending=[True, False])
    .drop_duplicates(subset='start_station_name')  # keep top ID per name
)

# Create a mapping: {station_name: most_common_id}
start_name_to_id_map = dict(
    zip(most_common_start_ids['start_station_name'], most_common_start_ids['start_station_id'])
)

# Apply mapping so every name gets its canonical ID
df_all['start_station_id'] = df_all['start_station_name'].map(start_name_to_id_map)

In [57]:
# Now same for end ids
most_common_end_ids = (
    df_all.groupby(['end_station_name', 'end_station_id'])
    .size()
    .reset_index(name='count')
    .sort_values(['end_station_name', 'count'], ascending=[True, False])
    .drop_duplicates(subset='end_station_name')
)

end_name_to_id_map = dict(
    zip(most_common_end_ids['end_station_name'], most_common_end_ids['end_station_id'])
)

df_all['end_station_id'] = df_all['end_station_name'].map(end_name_to_id_map)

In [58]:
# Check it worked
end_check = (
    df_all.groupby('end_station_name')['end_station_id']
    .nunique()
    .reset_index(name='unique_end_ids_per_name')
)
end_mismatches = end_check[end_check['unique_end_ids_per_name'] > 1]

# Same for start stations
start_check = (
    df_all.groupby('start_station_name')['start_station_id']
    .nunique()
    .reset_index(name='unique_start_ids_per_name')
)
start_mismatches = start_check[start_check['unique_start_ids_per_name'] > 1]

print(len(end_mismatches))
print(len(start_mismatches))

0
0

In [59]:
df_all.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,date,AWND,PRCP,TAVG
337365,FB33E3D8F21E2941,electric_bike,2022-01-01 01:49:37.374,2022-01-01 01:57:50.346,Canal St & Rutgers St,5303.08,Norfolk St & Broome St,5374.01,40.714275,-73.989900,40.717227,-73.988021,casual,2022-01-01,28,193,116
934147,755337295F178067,electric_bike,2022-01-01 03:21:09.754,2022-01-01 03:49:33.047,Lewis Ave & Madison St,4425.02,Columbia St & Degraw St,4422.04,40.686312,-73.935775,40.685930,-74.002424,member,2022-01-01,28,193,116
227118,C62CA87E3A475ADD,classic_bike,2022-01-01 08:38:18.156,2022-01-01 08:47:54.213,Carlton Ave & Park Ave,4732.04,Emerson Pl & Myrtle Ave,4683.02,40.695807,-73.973556,40.693631,-73.962236,casual,2022-01-01,28,193,116
913138,CD7A2098AFCD5514,classic_bike,2022-01-01 10:33:58.529,2022-01-01 10:47:05.197,W 100 St & Broadway,7580.01,W 67 St & Broadway,7116.04,40.797372,-73.970412,40.774925,-73.982666,casual,2022-01-01,28,193,116
127328,3F9E0C51F49F78A3,electric_bike,2022-01-01 20:05:19.592,2022-01-01 20:12:00.661,W 18 St & 6 Ave,6064.08,W 42 St & 6 Ave,6517.08,40.739713,-73.994564,40.754920,-73.984550,member,2022-01-01,28,193,116

Checking if coordinates consistent across stations

In [60]:
start_coords_check = (
    df_all.groupby('start_station_id')[['start_lat', 'start_lng']]
    .nunique()
    .reset_index()
)

end_coords_check = (
    df_all.groupby('end_station_id')[['end_lat', 'end_lng']]
    .nunique()
    .reset_index()
)

In [61]:
inconsistent_start_coords = start_coords_check[
    (start_coords_check['start_lat'] > 1) | (start_coords_check['start_lng'] > 1)
]

inconsistent_end_coords = end_coords_check[
    (end_coords_check['end_lat'] > 1) | (end_coords_check['end_lng'] > 1)
]

In [62]:
print(inconsistent_start_coords.shape)
print(inconsistent_end_coords.shape)

(1735, 3)
(842, 3)

In [63]:
# Inspecting some of these coordinates

# list of bad station IDs
bad_start_ids = inconsistent_start_coords['start_station_id'].unique()

# Preview their coordinates
df_all[df_all['start_station_id'].isin(bad_start_ids)][
    ['start_station_id', 'start_lat', 'start_lng']
].drop_duplicates().sort_values('start_station_id').head(20)

         start_station_id  start_lat  start_lng
6939990           2733.03  40.633363 -74.016566
21145133          2733.03  40.633444 -74.016525
13403021          2733.03  40.633458 -74.016685
16768403          2733.03  40.633400 -74.016536
21526963          2733.03  40.633438 -74.016622
20223270          2733.03  40.633360 -74.016469
16700002          2733.03  40.633379 -74.016538
26082028          2733.03  40.633380 -74.016572
26083704          2733.03  40.633366 -74.016641
16644291          2733.03  40.633409 -74.016609
25538019          2733.03  40.633339 -74.016554
27210551          2733.03  40.633382 -74.016588
20669200          2733.03  40.633335 -74.016524
17958004          2733.03  40.633391 -74.016634
20640107          2733.03  40.633353 -74.016535
24344043          2733.03  40.633381 -74.016588
22926308          2733.03  40.633472 -74.016604
19520200          2733.03  40.633363 -74.016546
25159346          2733.03  40.633373 -74.016619
21576659          2733.03  40.633363 -74.016533

Coordinates have slight variations per station on different routes so creating one master set per station

In [64]:
# combining start and end records into one long dataframe
coords_df = pd.concat([
    df_all[['start_station_id', 'start_lat', 'start_lng']].rename(
        columns={'start_station_id': 'station_id', 'start_lat': 'lat', 'start_lng': 'lng'}
    ),
    df_all[['end_station_id', 'end_lat', 'end_lng']].rename(
        columns={'end_station_id': 'station_id', 'end_lat': 'lat', 'end_lng': 'lng'}
    )
])

In [65]:
# get most common coordinates
master_coords = (
    coords_df.groupby('station_id')[['lat', 'lng']]
    .agg(lambda x: x.mode().iloc[0] if not x.mode().empty else x.iloc[0])
    .reset_index()
)

In [66]:
# Merge master start coords
df_all = df_all.drop(columns=['start_lat', 'start_lng'], errors='ignore')
df_all = df_all.merge(
    master_coords.rename(columns={
        'station_id': 'start_station_id',
        'lat': 'start_lat',
        'lng': 'start_lng'
    }),
    on='start_station_id',
    how='left'
)

# Merge master end coords
df_all = df_all.drop(columns=['end_lat', 'end_lng'], errors='ignore')
df_all = df_all.merge(
    master_coords.rename(columns={
        'station_id': 'end_station_id',
        'lat': 'end_lat',
        'lng': 'end_lng'
    }),
    on='end_station_id',
    how='left'
)

In [67]:
# Check for start stations with >1 unique lat or lng
start_inconsistent = (
    df_all.groupby('start_station_id')[['start_lat', 'start_lng']]
    .nunique()
    .max(axis=1)  # take the larger of lat/lng uniqueness
    .gt(1)        # True if more than one unique value
    .sum()        # count how many station IDs are inconsistent
)

# Check for end stations
end_inconsistent = (
    df_all.groupby('end_station_id')[['end_lat', 'end_lng']]
    .nunique()
    .max(axis=1)
    .gt(1)
    .sum()
)

print(f"Start stations inconsistent: {start_inconsistent}")
print(f"End stations inconsistent: {end_inconsistent}")

Start stations inconsistent: 0
End stations inconsistent: 0

In [68]:
df_all.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,member_casual,date,AWND,PRCP,TAVG,start_lat,start_lng,end_lat,end_lng
0,FB33E3D8F21E2941,electric_bike,2022-01-01 01:49:37.374,2022-01-01 01:57:50.346,Canal St & Rutgers St,5303.08,Norfolk St & Broome St,5374.01,casual,2022-01-01,28,193,116,40.714275,-73.989900,40.717227,-73.988021
1,755337295F178067,electric_bike,2022-01-01 03:21:09.754,2022-01-01 03:49:33.047,Lewis Ave & Madison St,4425.02,Columbia St & Degraw St,4422.04,member,2022-01-01,28,193,116,40.686312,-73.935775,40.685930,-74.002424
2,C62CA87E3A475ADD,classic_bike,2022-01-01 08:38:18.156,2022-01-01 08:47:54.213,Carlton Ave & Park Ave,4732.04,Emerson Pl & Myrtle Ave,4683.02,casual,2022-01-01,28,193,116,40.695807,-73.973556,40.693631,-73.962236
3,CD7A2098AFCD5514,classic_bike,2022-01-01 10:33:58.529,2022-01-01 10:47:05.197,W 100 St & Broadway,7580.01,W 67 St & Broadway,7116.04,casual,2022-01-01,28,193,116,40.797372,-73.970412,40.774925,-73.982666
4,3F9E0C51F49F78A3,electric_bike,2022-01-01 20:05:19.592,2022-01-01 20:12:00.661,W 18 St & 6 Ave,6064.08,W 42 St & 6 Ave,6517.08,member,2022-01-01,28,193,116,40.739713,-73.994564,40.754920,-73.984550

In [69]:
df_all.shape

(29768282, 17)

In [70]:
df = df_all.copy() # reassigning 'df' object to merged data

In [71]:
df.dtypes

ride_id                       object
rideable_type                 object
started_at            datetime64[ns]
ended_at              datetime64[ns]
start_station_name            object
start_station_id              object
end_station_name              object
end_station_id                object
member_casual                 object
date                          object
AWND                           int64
PRCP                           int64
TAVG                           int64
start_lat                    float64
start_lng                    float64
end_lat                      float64
end_lng                      float64
dtype: object

In [72]:
df['date'] = pd.to_datetime(df['date'])

Duplicates

In [73]:
d = df.duplicated()
df[d]

Empty DataFrame
Columns: [ride_id, rideable_type, started_at, ended_at, start_station_name, start_station_id, end_station_name, end_station_id, member_casual, date, AWND, PRCP, TAVG, start_lat, start_lng, end_lat, end_lng]
Index: []

## Deriving trip duration columns

In [74]:
# Creating new column with trip duration
df['trip_duration'] = (df['ended_at'] - df['started_at']).dt.total_seconds() / 60

In [75]:
# Dropping trips with negative trip duration
df = df[df['trip_duration'] >= 0].copy()

In [76]:
# checking no extremely short trips (under a minute)
short_trips = df[df['trip_duration'] < 1]
short_trips.head()

Empty DataFrame
Columns: [ride_id, rideable_type, started_at, ended_at, start_station_name, start_station_id, end_station_name, end_station_id, member_casual, date, AWND, PRCP, TAVG, start_lat, start_lng, end_lat, end_lng, trip_duration]
Index: []

In [77]:
# Exporting DF
df.to_parquet(r'C:\Data\Citibike_NY_2022\merged\df_weather_duration.parquet',index=False)