In [1]:
# Importing Libraries
import os
from dotenv import load_dotenv
import pandas as pd
import numpy as np
import requests
import json
from datetime import datetime

## Loading Citibike data

In [2]:
# Creating a list with all files in the folder using a list compehension

folderpath = r"C:\Data\Citibike_NY_2022\2022-citibike-tripdata\extracted_data"  # folder where files were extractred (see scripts/extract_data.py)
filepaths  = [os.path.join(folderpath, name) for name in os.listdir(folderpath)]    # looping over files within filepath and joining to folder path creating list object

In [3]:
filepaths

['C:\\Data\\Citibike_NY_2022\\2022-citibike-tripdata\\extracted_data\\202201-citibike-tripdata_1.csv',
 'C:\\Data\\Citibike_NY_2022\\2022-citibike-tripdata\\extracted_data\\202201-citibike-tripdata_2.csv',
 'C:\\Data\\Citibike_NY_2022\\2022-citibike-tripdata\\extracted_data\\202202-citibike-tripdata_1.csv',
 'C:\\Data\\Citibike_NY_2022\\2022-citibike-tripdata\\extracted_data\\202202-citibike-tripdata_2.csv',
 'C:\\Data\\Citibike_NY_2022\\2022-citibike-tripdata\\extracted_data\\202203-citibike-tripdata_1.csv',
 'C:\\Data\\Citibike_NY_2022\\2022-citibike-tripdata\\extracted_data\\202203-citibike-tripdata_2.csv',
 'C:\\Data\\Citibike_NY_2022\\2022-citibike-tripdata\\extracted_data\\202204-citibike-tripdata_1.csv',
 'C:\\Data\\Citibike_NY_2022\\2022-citibike-tripdata\\extracted_data\\202204-citibike-tripdata_2.csv',
 'C:\\Data\\Citibike_NY_2022\\2022-citibike-tripdata\\extracted_data\\202204-citibike-tripdata_3.csv',
 'C:\\Data\\Citibike_NY_2022\\2022-citibike-tripdata\\extracted_data\\202205-citibike-tripdata_1.csv',
 'C:\\Data\\Citibike_NY_2022\\2022-citibike-tripdata\\extracted_data\\202205-citibike-tripdata_2.csv',
 'C:\\Data\\Citibike_NY_2022\\2022-citibike-tripdata\\extracted_data\\202205-citibike-tripdata_3.csv',
 'C:\\Data\\Citibike_NY_2022\\2022-citibike-tripdata\\extracted_data\\202206-citibike-tripdata_1.csv',
 'C:\\Data\\Citibike_NY_2022\\2022-citibike-tripdata\\extracted_data\\202206-citibike-tripdata_2.csv',
 'C:\\Data\\Citibike_NY_2022\\2022-citibike-tripdata\\extracted_data\\202206-citibike-tripdata_3.csv',
 'C:\\Data\\Citibike_NY_2022\\2022-citibike-tripdata\\extracted_data\\202206-citibike-tripdata_4.csv',
 'C:\\Data\\Citibike_NY_2022\\2022-citibike-tripdata\\extracted_data\\202207-citibike-tripdata_1.csv',
 'C:\\Data\\Citibike_NY_2022\\2022-citibike-tripdata\\extracted_data\\202207-citibike-tripdata_2.csv',
 'C:\\Data\\Citibike_NY_2022\\2022-citibike-tripdata\\extracted_data\\202207-citibike-tripdata_3.csv',
 'C:\\Data\\Citibike_NY_2022\\2022-citibike-tripdata\\extracted_data\\202207-citibike-tripdata_4.csv',
 'C:\\Data\\Citibike_NY_2022\\2022-citibike-tripdata\\extracted_data\\202208-citibike-tripdata_1.csv',
 'C:\\Data\\Citibike_NY_2022\\2022-citibike-tripdata\\extracted_data\\202208-citibike-tripdata_2.csv',
 'C:\\Data\\Citibike_NY_2022\\2022-citibike-tripdata\\extracted_data\\202208-citibike-tripdata_3.csv',
 'C:\\Data\\Citibike_NY_2022\\2022-citibike-tripdata\\extracted_data\\202208-citibike-tripdata_4.csv',
 'C:\\Data\\Citibike_NY_2022\\2022-citibike-tripdata\\extracted_data\\202209-citibike-tripdata_1.csv',
 'C:\\Data\\Citibike_NY_2022\\2022-citibike-tripdata\\extracted_data\\202209-citibike-tripdata_2.csv',
 'C:\\Data\\Citibike_NY_2022\\2022-citibike-tripdata\\extracted_data\\202209-citibike-tripdata_3.csv',
 'C:\\Data\\Citibike_NY_2022\\2022-citibike-tripdata\\extracted_data\\202209-citibike-tripdata_4.csv',
 'C:\\Data\\Citibike_NY_2022\\2022-citibike-tripdata\\extracted_data\\202210-citibike-tripdata_1.csv',
 'C:\\Data\\Citibike_NY_2022\\2022-citibike-tripdata\\extracted_data\\202210-citibike-tripdata_2.csv',
 'C:\\Data\\Citibike_NY_2022\\2022-citibike-tripdata\\extracted_data\\202210-citibike-tripdata_3.csv',
 'C:\\Data\\Citibike_NY_2022\\2022-citibike-tripdata\\extracted_data\\202211-citibike-tripdata_1.csv',
 'C:\\Data\\Citibike_NY_2022\\2022-citibike-tripdata\\extracted_data\\202211-citibike-tripdata_2.csv',
 'C:\\Data\\Citibike_NY_2022\\2022-citibike-tripdata\\extracted_data\\202211-citibike-tripdata_3.csv',
 'C:\\Data\\Citibike_NY_2022\\2022-citibike-tripdata\\extracted_data\\202212-citibike-tripdata_1.csv',
 'C:\\Data\\Citibike_NY_2022\\2022-citibike-tripdata\\extracted_data\\202212-citibike-tripdata_2.csv']

In [4]:
# Read and concatenate all files simultaneously. Pass through each file in the filepath list and read the csv,
# then appstart it underneath the previous file while keeping columns

df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)

C:\Users\seank\AppData\Local\Temp\ipykernel_11256\3335353928.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\seank\AppData\Local\Temp\ipykernel_11256\3335353928.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\seank\AppData\Local\Temp\ipykernel_11256\3335353928.py:4: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\seank\AppData\Local\Temp\ipykernel_11256\3335353928.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\seank\AppData\Local\Temp\ipykernel_11256\3335353928.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\seank\AppData\Local\Temp\ipykernel_11256\3335353928.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\seank\AppData\Local\Temp\ipykernel_11256\3335353928.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\seank\AppData\Local\Temp\ipykernel_11256\3335353928.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\seank\AppData\Local\Temp\ipykernel_11256\3335353928.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\seank\AppData\Local\Temp\ipykernel_11256\3335353928.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\seank\AppData\Local\Temp\ipykernel_11256\3335353928.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\seank\AppData\Local\Temp\ipykernel_11256\3335353928.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\seank\AppData\Local\Temp\ipykernel_11256\3335353928.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\seank\AppData\Local\Temp\ipykernel_11256\3335353928.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\seank\AppData\Local\Temp\ipykernel_11256\3335353928.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\seank\AppData\Local\Temp\ipykernel_11256\3335353928.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\seank\AppData\Local\Temp\ipykernel_11256\3335353928.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\seank\AppData\Local\Temp\ipykernel_11256\3335353928.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\seank\AppData\Local\Temp\ipykernel_11256\3335353928.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\seank\AppData\Local\Temp\ipykernel_11256\3335353928.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\seank\AppData\Local\Temp\ipykernel_11256\3335353928.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\seank\AppData\Local\Temp\ipykernel_11256\3335353928.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\seank\AppData\Local\Temp\ipykernel_11256\3335353928.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\seank\AppData\Local\Temp\ipykernel_11256\3335353928.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\seank\AppData\Local\Temp\ipykernel_11256\3335353928.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\seank\AppData\Local\Temp\ipykernel_11256\3335353928.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\seank\AppData\Local\Temp\ipykernel_11256\3335353928.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\seank\AppData\Local\Temp\ipykernel_11256\3335353928.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\seank\AppData\Local\Temp\ipykernel_11256\3335353928.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\seank\AppData\Local\Temp\ipykernel_11256\3335353928.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\seank\AppData\Local\Temp\ipykernel_11256\3335353928.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\seank\AppData\Local\Temp\ipykernel_11256\3335353928.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\seank\AppData\Local\Temp\ipykernel_11256\3335353928.py:4: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\seank\AppData\Local\Temp\ipykernel_11256\3335353928.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\seank\AppData\Local\Temp\ipykernel_11256\3335353928.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)

In [5]:
df.shape

(29838806, 13)

In [6]:
df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,BFD29218AB271154,electric_bike,2022-01-21 13:13:43.392,2022-01-21 13:22:31.463,West End Ave & W 107 St,7650.05,Mt Morris Park W & W 120 St,7685.14,40.802117,-73.968181,40.804038,-73.945925,member
1,7C953F2FD7BE1302,classic_bike,2022-01-10 11:30:54.162,2022-01-10 11:41:43.422,4 Ave & 3 St,4028.04,Boerum Pl\t& Pacific St,4488.09,40.673746,-73.985649,40.688489,-73.991160,member
2,95893ABD40CED4B8,electric_bike,2022-01-26 10:52:43.096,2022-01-26 11:06:35.227,1 Ave & E 62 St,6753.08,5 Ave & E 29 St,6248.06,40.761227,-73.960940,40.745168,-73.986831,member
3,F853B50772137378,classic_bike,2022-01-03 08:35:48.247,2022-01-03 09:10:50.475,2 Ave & E 96 St,7338.02,5 Ave & E 29 St,6248.06,40.783964,-73.947167,40.745168,-73.986831,member
4,7590ADF834797B4B,classic_bike,2022-01-22 14:14:23.043,2022-01-22 14:34:57.474,6 Ave & W 34 St,6364.10,5 Ave & E 29 St,6248.06,40.749640,-73.988050,40.745168,-73.986831,member

In [7]:
df.dtypes

ride_id                object
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id       object
end_station_name       object
end_station_id         object
start_lat             float64
start_lng             float64
end_lat               float64
end_lng               float64
member_casual          object
dtype: object

In [8]:
# converting times to datetime
df['started_at'] = pd.to_datetime(df['started_at'], dayfirst=False)
df['ended_at'] = pd.to_datetime(df['ended_at'], dayfirst=False)

# Extracting date
df['date'] = pd.to_datetime(df['started_at'], format='%Y-%m-%d').dt.date
df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,date
0,BFD29218AB271154,electric_bike,2022-01-21 13:13:43.392,2022-01-21 13:22:31.463,West End Ave & W 107 St,7650.05,Mt Morris Park W & W 120 St,7685.14,40.802117,-73.968181,40.804038,-73.945925,member,2022-01-21
1,7C953F2FD7BE1302,classic_bike,2022-01-10 11:30:54.162,2022-01-10 11:41:43.422,4 Ave & 3 St,4028.04,Boerum Pl\t& Pacific St,4488.09,40.673746,-73.985649,40.688489,-73.991160,member,2022-01-10
2,95893ABD40CED4B8,electric_bike,2022-01-26 10:52:43.096,2022-01-26 11:06:35.227,1 Ave & E 62 St,6753.08,5 Ave & E 29 St,6248.06,40.761227,-73.960940,40.745168,-73.986831,member,2022-01-26
3,F853B50772137378,classic_bike,2022-01-03 08:35:48.247,2022-01-03 09:10:50.475,2 Ave & E 96 St,7338.02,5 Ave & E 29 St,6248.06,40.783964,-73.947167,40.745168,-73.986831,member,2022-01-03
4,7590ADF834797B4B,classic_bike,2022-01-22 14:14:23.043,2022-01-22 14:34:57.474,6 Ave & W 34 St,6364.10,5 Ave & E 29 St,6248.06,40.749640,-73.988050,40.745168,-73.986831,member,2022-01-22

## Retrieving Weather Data

Using LaGuardia Airport (id GHCND:USW00014732 ) data from https://www.ncdc.noaa.gov/cdo-web/datatools/findstation (accessed 20/06/25)

In [9]:
load_dotenv()  # Loading environment variables from .env file

Token = os.environ.get('NOAA_TOKEN')

print(f"Token loaded: {Token}");

Token loaded: elVvdrcIkpxEAWPxKSzWsJZeNccsEHnv

In [10]:
headers = {'token': Token}
url = 'https://www.ncdc.noaa.gov/cdo-web/api/v2/data'

# defining what data to fetch
params = {
    'datasetid': 'GHCND',
    'datatypeid': ['TAVG', 'PRCP', 'AWND'], 
    'stationid': 'GHCND:USW00014732',
    'startdate': '2022-01-01',
    'enddate': '2022-12-31',
    'limit': 1000,
    'offset': 1
}
# empty list to store all records from all pages
all_results = []
# starting loop that will break when end of data reached
while True:
    r = requests.get(url, headers=headers, params=params)   # send API request with above params
    data = r.json() # parse json response to python dictionary
    results = data.get('results', [])   # extrac the results elements of the response

    if not results:
        break  # Exit the loop if no more data to fetch

    all_results.extend(results) # add fetched results to main list
    params['offset'] += 1000  # since the limit for the api is 1000

    print(f"Fetched {len(results)} records, total so far: {len(all_results)}")  # print progress

Fetched 1000 records, total so far: 1000
Fetched 95 records, total so far: 1095

In [11]:
print(365*3)

1095

In [12]:
# Convert to df
d = pd.DataFrame(all_results)
print(d.shape)
print(d.head())
print(d.tail())

(1095, 5)
                  date datatype            station attributes  value
0  2022-01-01T00:00:00     AWND  GHCND:USW00014732       ,,W,     28
1  2022-01-01T00:00:00     PRCP  GHCND:USW00014732   ,,W,2400    193
2  2022-01-01T00:00:00     TAVG  GHCND:USW00014732      H,,S,    116
3  2022-01-02T00:00:00     AWND  GHCND:USW00014732       ,,W,     43
4  2022-01-02T00:00:00     PRCP  GHCND:USW00014732   ,,W,2400     10
                     date datatype            station attributes  value
1090  2022-12-30T00:00:00     PRCP  GHCND:USW00014732   ,,W,2400      0
1091  2022-12-30T00:00:00     TAVG  GHCND:USW00014732      H,,S,     93
1092  2022-12-31T00:00:00     AWND  GHCND:USW00014732       ,,W,     21
1093  2022-12-31T00:00:00     PRCP  GHCND:USW00014732   ,,W,2400     79
1094  2022-12-31T00:00:00     TAVG  GHCND:USW00014732      H,,S,     82

In [13]:
# dropping time from date var
d['date'] = pd.to_datetime(d['date']).dt.date
d.head()

         date datatype            station attributes  value
0  2022-01-01     AWND  GHCND:USW00014732       ,,W,     28
1  2022-01-01     PRCP  GHCND:USW00014732   ,,W,2400    193
2  2022-01-01     TAVG  GHCND:USW00014732      H,,S,    116
3  2022-01-02     AWND  GHCND:USW00014732       ,,W,     43
4  2022-01-02     PRCP  GHCND:USW00014732   ,,W,2400     10

In [14]:
# pivotting to wide so each row = one day
wide_weather = d.pivot(index='date',
                       columns='datatype',
                       values='value')
wide_weather = wide_weather.reset_index()
wide_weather.head()

datatype        date  AWND  PRCP  TAVG
0         2022-01-01    28   193   116
1         2022-01-02    43    10   114
2         2022-01-03    64     0    14
3         2022-01-04    39     0   -27
4         2022-01-05    34    61    32

In [15]:
wide_weather.columns

Index(['date', 'AWND', 'PRCP', 'TAVG'], dtype='object', name='datatype')

In [16]:
# Remove 'datatype' label which is leftover from pivot
wide_weather.columns.name = None
wide_weather.columns

Index(['date', 'AWND', 'PRCP', 'TAVG'], dtype='object')

In [18]:
# Saving in case there's future issues with data or API access
wide_weather.to_csv(r'C:\Data\Citibike_NY_2022\wide_weather.csv',index=False)

## Merging citibike to weather data

In [19]:
df_all = pd.merge(df, wide_weather,
                  how = 'inner',
                  on = 'date',
                  indicator=True)

In [20]:
df_all = df_all.sort_values(by='date')

In [21]:
df_all.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,date,AWND,PRCP,TAVG,_merge
337365,FB33E3D8F21E2941,electric_bike,2022-01-01 01:49:37.374,2022-01-01 01:57:50.346,Canal St & Rutgers St,5303.08,Norfolk St & Broome St,5374.01,40.714275,-73.989900,40.717227,-73.988021,casual,2022-01-01,28,193,116,both
934147,755337295F178067,electric_bike,2022-01-01 03:21:09.754,2022-01-01 03:49:33.047,Lewis Ave & Madison St,4425.02,Columbia St & Degraw St,4422.04,40.686312,-73.935775,40.685930,-74.002424,member,2022-01-01,28,193,116,both
227118,C62CA87E3A475ADD,classic_bike,2022-01-01 08:38:18.156,2022-01-01 08:47:54.213,Carlton Ave & Park Ave,4732.04,Emerson Pl & Myrtle Ave,4683.02,40.695807,-73.973556,40.693631,-73.962236,casual,2022-01-01,28,193,116,both
913138,CD7A2098AFCD5514,classic_bike,2022-01-01 10:33:58.529,2022-01-01 10:47:05.197,W 100 St & Broadway,7580.01,W 67 St & Broadway,7116.04,40.797372,-73.970412,40.774925,-73.982666,casual,2022-01-01,28,193,116,both
127328,3F9E0C51F49F78A3,electric_bike,2022-01-01 20:05:19.592,2022-01-01 20:12:00.661,W 18 St & 6 Ave,6064.08,W 42 St & 6 Ave,6517.08,40.739713,-73.994564,40.754920,-73.984550,member,2022-01-01,28,193,116,both

In [22]:
df_all.tail()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,date,AWND,PRCP,TAVG,_merge
28674012,048F372A8932AF74,classic_bike,2022-12-31 09:42:43.255,2022-12-31 09:53:40.001,Franklin St & W Broadway,5430.08,W 25 St & 6 Ave,6215.04,40.719116,-74.006667,40.743954,-73.991449,member,2022-12-31,21,79,82,both
28817575,96B836FC53F5B659,electric_bike,2022-12-31 12:43:53.932,2022-12-31 12:49:30.908,Eastern Pkwy & Franklin Ave,3919.07,Monroe St & Classon Ave,4336.01,40.670777,-73.957680,40.684568,-73.958811,member,2022-12-31,21,79,82,both
29544081,757B088CF96FCBE1,electric_bike,2022-12-31 16:52:05.623,2022-12-31 16:56:09.677,W 63 St & Broadway,7052.01,W 53 St & 10 Ave,6890.01,40.771597,-73.982601,40.766697,-73.990617,member,2022-12-31,21,79,82,both
28330742,8F4E623EA5E0FF21,classic_bike,2022-12-31 19:09:13.320,2022-12-31 19:15:34.353,E 82 St & East End Ave,7049.04,E 78 St & 2 Ave,7057.07,40.772461,-73.946821,40.772797,-73.955778,member,2022-12-31,21,79,82,both
29754095,4BD35140231675EB,electric_bike,2022-12-31 19:14:19.795,2022-12-31 20:03:00.165,W 192 St & University Ave,8639.01,W 192 St & University Ave,8639.01,40.866914,-73.901737,40.866899,-73.901942,member,2022-12-31,21,79,82,both

In [23]:
df_all['_merge'].value_counts(dropna=False)

_merge
both          29838166
left_only            0
right_only           0
Name: count, dtype: int64

In [24]:
# dropping cols
df_all = df_all.drop(columns=['_merge'])

## Data Cleaning

In [25]:
# Grouping by id and see how many unique names exist for each
start_check = (
    df_all.groupby('start_station_id')['start_station_name']
    .nunique()
    .reset_index(name='unique_start_names_per_id')
)

In [26]:
# Filter where more than 1 name per ID
start_mismatches = start_check[start_check['unique_start_names_per_id'] > 1]
print(start_mismatches)

     start_station_id  unique_start_names_per_id
29            3138.09                          2
33            3178.02                          2
334           4488.09                          2
357           4565.04                          2
428           4781.05                          3
557           5164.05                          2
603           5323.06                          2
607           5329.08                          3
620           5359.13                          2
629           5382.07                          3
717           5669.12                          2
770           5883.06                          2
904           6300.04                          2
987           6535.04                          3
995           6560.14                          2
1051          6708.04                          3
1592          8241.07                          2
1643          8432.11                          2
1774          3138.09                          2
1778          3178.02                          2
2079          4488.09                          2
2173          4781.05                          3
2302          5164.05                          2
2348          5323.06                          2
2352          5329.08                          3
2365          5359.13                          2
2374          5382.07                          3
2462          5669.12                          2
2515          5883.06                          2
2649          6300.04                          2
2732          6535.04                          3
2740          6560.14                          2
2796          6708.04                          3
3337          8241.07                          2
3388          8432.11                          2

In [27]:
start_mismatches.shape

(35, 2)

In [28]:
# Grouping by id and see how many unique names exist for each
end_check = (
    df_all.groupby('end_station_id')['end_station_name']
    .nunique()
    .reset_index(name='unique_end_names_per_id')
)

In [29]:
# Filter where more than 1 name per ID
end_mismatches = end_check[end_check['unique_end_names_per_id'] > 1]
print(end_mismatches)

     end_station_id  unique_end_names_per_id
28          3138.09                        2
32          3178.02                        2
294         4488.09                        2
384         4781.05                        3
511         5164.05                        2
561         5329.08                        3
574         5359.13                        2
583         5382.07                        3
671         5669.12                        2
710         5805.07                        2
724         5883.06                        2
934         6535.04                        2
997         6708.04                        3
1536        8241.07                        2
1717        3138.09                        2
1721        3178.02                        2
2020        4488.09                        2
2114        4781.05                        3
2243        5164.05                        2
2289        5323.06                        2
2293        5329.08                        3
2306        5359.13                        2
2315        5382.07                        3
2456        5883.06                        2
2590        6300.04                        2
2673        6535.04                        3
2681        6560.14                        2
2737        6708.04                        3
3278        8241.07                        2
3327        8428.05                        2
3329        8432.11                        2

In [30]:
end_mismatches.shape

(31, 2)

In [31]:
# Get problematic end station IDs
bad_start_ids = start_mismatches['start_station_id'].unique()
bad_end_ids = end_mismatches['end_station_id'].unique()

In [32]:
bad_start_ids.shape

(35,)

In [33]:
bad_end_ids.shape

(31,)

In [34]:
# Filter those rows in main df
end_problem_rows = df_all[df_all['end_station_id'].isin(bad_end_ids)]
start_problem_rows = df_all[df_all['start_station_id'].isin(bad_start_ids)]

In [35]:
start_problem_rows.shape

(310577, 17)

In [36]:
# Inspect these different versions of names on station ids

with pd.option_context('display.max_rows', None):   # Temporarily set display options
    print(
    df_all[df_all['end_station_id'].isin(bad_end_ids)]
    .groupby(['end_station_id', 'end_station_name'])
    .size()
    .reset_index(name='count')
    .sort_values(['end_station_id', 'count'], ascending=[True, False])
)

   end_station_id                                   end_station_name  count
0         3138.09                                      58 St & 2 Ave    123
1         3138.09  58 St & 2 Ave - Brooklyn Army Terminal Vaccina...     19
2         3178.02                                      57 St & 1 Ave    477
3         3178.02  57 St & 1 Ave - Brooklyn Army Terminal Vaccina...    238
5         4488.09                            Boerum Pl\t& Pacific St   5123
4         4488.09                            Boerum Pl\t& Pacific St     21
8         4781.05                           Nassau St\t& Duffield St   4663
7         4781.05                            Nassau St & Duffield St    116
6         4781.05                           Nassau St\t& Duffield St     65
9         5164.05                                Broadway & Berry St   3609
10        5164.05                              Broadway and Berry St      2
12        5329.08                                Murray St & West St   2841
13        5329.08                               Murray St\t& West St   2144
11        5329.08                               Murray St\t& West St     31
15        5359.13                               Church St & Worth St    930
14        5359.13                              Church St & Thomas St     40
18        5382.07                             Forsyth St\t& Grand St  15101
17        5382.07                              Forsyth St & Grand St   3330
16        5382.07                             Forsyth St\t& Grand St     87
19        5669.12                                     E 6 St & 2 Ave  12671
20        5669.12                                       E 6 St 2 Ave     11
22        5805.07                              7 Ave S & Bleecker St  12401
21        5805.07                                7 Ave & Bleecker St      1
23        5883.06                        Van Dam St & Greenpoint Ave    850
24        5883.06                            Van Dam St & Review Ave     40
26        6535.04                           W 34 St &\tHudson Blvd E  11433
25        6535.04                           W 34 St &\tHudson Blvd E    204
29        6708.04                                Broadway\t& W 48 St  19768
28        6708.04                                 Broadway & W 48 St   3150
27        6708.04                                Broadway\t& W 48 St    490
30        8241.07                                   3 Ave & E 174 St    975
31        8241.07       3 Ave & E 174 St - Bathgate Vaccination Site    150
32        3138.09                                      58 St & 2 Ave   1478
33        3138.09  58 St & 2 Ave - Brooklyn Army Terminal Vaccina...    604
34        3178.02                                      57 St & 1 Ave   1287
35        3178.02  57 St & 1 Ave - Brooklyn Army Terminal Vaccina...    157
37        4488.09                            Boerum Pl\t& Pacific St  12564
36        4488.09                            Boerum Pl\t& Pacific St     72
40        4781.05                           Nassau St\t& Duffield St   5178
39        4781.05                            Nassau St & Duffield St   1316
38        4781.05                           Nassau St\t& Duffield St     84
41        5164.05                                Broadway & Berry St  10197
42        5164.05                              Broadway and Berry St    746
43        5323.06                               Sharon St & Olive St   5481
44        5323.06                           Sharon St & Olive St_new      3
47        5329.08                               Murray St\t& West St  11779
46        5329.08                                Murray St & West St    700
45        5329.08                               Murray St\t& West St    197
49        5359.13                               Church St & Worth St   3941
48        5359.13                              Church St & Thomas St     10
52        5382.07                             Forsyth St\t& Grand St  38201
51        5382.07                              Forsyth St & Grand St   6009
50        5382.07                             Forsyth St\t& Grand St    257
53        5883.06                        Van Dam St & Greenpoint Ave    986
54        5883.06                            Van Dam St & Review Ave     16
56        6300.04                              Skillman Ave & 43 Ave   1667
55        6300.04                               Skillman Ave & 32 Pl     61
59        6535.04                           W 34 St &\tHudson Blvd E  28556
58        6535.04                            W 34 St & Hudson Blvd E   7578
57        6535.04                           W 34 St &\tHudson Blvd E    481
60        6560.14                                    W 40 St & 7 Ave   6921
61        6560.14                                    W 40 St & 8 Ave     11
64        6708.04                                Broadway\t& W 48 St  27855
63        6708.04                                 Broadway & W 48 St   5913
62        6708.04                                Broadway\t& W 48 St    797
65        8241.07                                   3 Ave & E 174 St   1624
66        8241.07       3 Ave & E 174 St - Bathgate Vaccination Site    415
67        8428.05                       Sedgwick Ave & W Tremont Ave    345
68        8428.05                 Sedgwick Ave & W Tremont Ave - new      1
69        8432.11                           Amsterdam Ave & W 189 St   1297
70        8432.11                       Amsterdam Ave & W 189 St new     55

In [37]:
with pd.option_context('display.max_rows', None):   # Temporarily set display options
    print(
    df_all[df_all['start_station_id'].isin(bad_start_ids)]
    .groupby(['start_station_id', 'start_station_name'])
    .size()
    .reset_index(name='count')
    .sort_values(['start_station_id', 'count'], ascending=[True, False])
)

   start_station_id                                 start_station_name  count
0           3138.09                                      58 St & 2 Ave    822
1           3138.09  58 St & 2 Ave - Brooklyn Army Terminal Vaccina...    449
2           3178.02                                      57 St & 1 Ave   1016
3           3178.02  57 St & 1 Ave - Brooklyn Army Terminal Vaccina...    288
5           4488.09                            Boerum Pl\t& Pacific St  10362
4           4488.09                            Boerum Pl\t& Pacific St     47
6           4565.04                         Schermerhorn St & Court St  10345
7           4565.04                       Schermerhorn St and Court St      2
10          4781.05                           Nassau St\t& Duffield St   5649
9           4781.05                            Nassau St & Duffield St   1248
8           4781.05                           Nassau St\t& Duffield St     75
11          5164.05                                Broadway & Berry St   9351
12          5164.05                              Broadway and Berry St    377
13          5323.06                               Sharon St & Olive St   4088
14          5323.06                           Sharon St & Olive St_new      2
17          5329.08                               Murray St\t& West St   7546
16          5329.08                                Murray St & West St   2992
15          5329.08                               Murray St\t& West St     51
19          5359.13                               Church St & Worth St   3263
18          5359.13                              Church St & Thomas St     10
22          5382.07                             Forsyth St\t& Grand St  32905
21          5382.07                              Forsyth St & Grand St   7640
20          5382.07                             Forsyth St\t& Grand St    218
23          5669.12                                     E 6 St & 2 Ave  16354
24          5669.12                                       E 6 St 2 Ave      4
25          5883.06                        Van Dam St & Greenpoint Ave   1020
26          5883.06                            Van Dam St & Review Ave     21
28          6300.04                              Skillman Ave & 43 Ave   1874
27          6300.04                               Skillman Ave & 32 Pl     28
31          6535.04                           W 34 St &\tHudson Blvd E  22418
30          6535.04                            W 34 St & Hudson Blvd E   5358
29          6535.04                           W 34 St &\tHudson Blvd E    511
32          6560.14                                    W 40 St & 7 Ave  10478
33          6560.14                                    W 40 St & 8 Ave      3
36          6708.04                                Broadway\t& W 48 St  29478
35          6708.04                                 Broadway & W 48 St   6750
34          6708.04                                Broadway\t& W 48 St    906
37          8241.07                                   3 Ave & E 174 St   1488
38          8241.07       3 Ave & E 174 St - Bathgate Vaccination Site    370
39          8432.11                           Amsterdam Ave & W 189 St    856
40          8432.11                       Amsterdam Ave & W 189 St new     23
41          3138.09                                      58 St & 2 Ave    660
42          3138.09  58 St & 2 Ave - Brooklyn Army Terminal Vaccina...    102
43          3178.02                                      57 St & 1 Ave    648
44          3178.02  57 St & 1 Ave - Brooklyn Army Terminal Vaccina...     74
46          4488.09                            Boerum Pl\t& Pacific St   7004
45          4488.09                            Boerum Pl\t& Pacific St     33
49          4781.05                           Nassau St\t& Duffield St   3916
48          4781.05                            Nassau St & Duffield St    174
47          4781.05                           Nassau St\t& Duffield St     41
50          5164.05                                Broadway & Berry St   4427
51          5164.05                              Broadway and Berry St    362
52          5323.06                               Sharon St & Olive St   2705
53          5323.06                           Sharon St & Olive St_new      1
56          5329.08                               Murray St\t& West St   6827
55          5329.08                                Murray St & West St    540
54          5329.08                               Murray St\t& West St     61
58          5359.13                               Church St & Worth St   1592
57          5359.13                              Church St & Thomas St      8
61          5382.07                             Forsyth St\t& Grand St  20162
60          5382.07                              Forsyth St & Grand St   1706
59          5382.07                             Forsyth St\t& Grand St    131
62          5669.12                                     E 6 St & 2 Ave  10536
63          5669.12                                       E 6 St 2 Ave      2
64          5883.06                        Van Dam St & Greenpoint Ave    759
65          5883.06                            Van Dam St & Review Ave     32
67          6300.04                              Skillman Ave & 43 Ave   1004
66          6300.04                               Skillman Ave & 32 Pl     25
70          6535.04                           W 34 St &\tHudson Blvd E  16645
69          6535.04                            W 34 St & Hudson Blvd E   2182
68          6535.04                           W 34 St &\tHudson Blvd E    419
71          6560.14                                    W 40 St & 7 Ave   7325
72          6560.14                                    W 40 St & 8 Ave      5
75          6708.04                                Broadway\t& W 48 St  19026
74          6708.04                                 Broadway & W 48 St   2323
73          6708.04                                Broadway\t& W 48 St    570
76          8241.07                                   3 Ave & E 174 St   1141
77          8241.07       3 Ave & E 174 St - Bathgate Vaccination Site    190
78          8432.11                           Amsterdam Ave & W 189 St    509
79          8432.11                       Amsterdam Ave & W 189 St new     24

These are mostly typos or leading spaces, some have an extra suffix (e.g., Army Vaccination, new...), but they can all be made identical. So now assigning most commonly occuring name to each station

In [38]:
# Group and get the most common name per end_station_id
most_common_end_names = (
    df_all.groupby(['end_station_id', 'end_station_name'])
    .size()
    .reset_index(name='count')
    .sort_values(['end_station_id', 'count'], ascending=[True, False])
    .drop_duplicates(subset='end_station_id')  # keep top name per ID
)

# Create a dictionary mapping: {end_station_id: most_common_name}
end_station_name_map = dict(
    zip(most_common_end_names['end_station_id'], most_common_end_names['end_station_name'])
)

In [39]:
# same for starts
most_common_start_names = (
    df_all.groupby(['start_station_id', 'start_station_name'])
    .size()
    .reset_index(name='count')
    .sort_values(['start_station_id', 'count'], ascending=[True, False])
    .drop_duplicates(subset='start_station_id')  # keep top name per ID
)

#  dictionary mapping: {start_station_id: most_common_name}
start_station_name_map = dict(
    zip(most_common_start_names['start_station_id'], most_common_start_names['start_station_name'])
)

In [40]:
# Replace original columns with consistent names
df_all['start_station_name'] = df_all['start_station_id'].map(start_station_name_map)
df_all['end_station_name'] = df_all['end_station_id'].map(end_station_name_map)

In [41]:
# Check again for end station mismatches
end_check = (
    df_all.groupby('end_station_id')['end_station_name']
    .nunique()
    .reset_index(name='unique_end_names_per_id')
)
end_mismatches = end_check[end_check['unique_end_names_per_id'] > 1]

# Same for start stations
start_check = (
    df_all.groupby('start_station_id')['start_station_name']
    .nunique()
    .reset_index(name='unique_start_names_per_id')
)
start_mismatches = start_check[start_check['unique_start_names_per_id'] > 1]

In [42]:
len(start_mismatches)

0

In [43]:
len(end_mismatches)

0

In [44]:
df_all.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,date,AWND,PRCP,TAVG
337365,FB33E3D8F21E2941,electric_bike,2022-01-01 01:49:37.374,2022-01-01 01:57:50.346,Canal St & Rutgers St,5303.08,Norfolk St & Broome St,5374.01,40.714275,-73.989900,40.717227,-73.988021,casual,2022-01-01,28,193,116
934147,755337295F178067,electric_bike,2022-01-01 03:21:09.754,2022-01-01 03:49:33.047,Lewis Ave & Madison St,4425.02,Columbia St & Degraw St,4422.04,40.686312,-73.935775,40.685930,-74.002424,member,2022-01-01,28,193,116
227118,C62CA87E3A475ADD,classic_bike,2022-01-01 08:38:18.156,2022-01-01 08:47:54.213,Carlton Ave & Park Ave,4732.04,Emerson Pl & Myrtle Ave,4683.02,40.695807,-73.973556,40.693631,-73.962236,casual,2022-01-01,28,193,116
913138,CD7A2098AFCD5514,classic_bike,2022-01-01 10:33:58.529,2022-01-01 10:47:05.197,W 100 St & Broadway,7580.01,W 67 St & Broadway,7116.04,40.797372,-73.970412,40.774925,-73.982666,casual,2022-01-01,28,193,116
127328,3F9E0C51F49F78A3,electric_bike,2022-01-01 20:05:19.592,2022-01-01 20:12:00.661,W 18 St & 6 Ave,6064.08,W 42 St & 6 Ave,6517.08,40.739713,-73.994564,40.754920,-73.984550,member,2022-01-01,28,193,116

In [45]:
df_all.dtypes

ride_id                       object
rideable_type                 object
started_at            datetime64[ns]
ended_at              datetime64[ns]
start_station_name            object
start_station_id              object
end_station_name              object
end_station_id                object
start_lat                    float64
start_lng                    float64
end_lat                      float64
end_lng                      float64
member_casual                 object
date                          object
AWND                           int64
PRCP                           int64
TAVG                           int64
dtype: object

Coordinates have slight variations per station on different routes so creating one master set per station

In [46]:
# combining start and end records into one long dataframe
coords_df = pd.concat([
    df_all[['start_station_id', 'start_lat', 'start_lng']].rename(
        columns={'start_station_id': 'station_id', 'start_lat': 'lat', 'start_lng': 'lng'}
    ),
    df_all[['end_station_id', 'end_lat', 'end_lng']].rename(
        columns={'end_station_id': 'station_id', 'end_lat': 'lat', 'end_lng': 'lng'}
    )
])

In [47]:
# get most common coordinates
master_coords = (
    coords_df.groupby('station_id')[['lat', 'lng']]
    .agg(lambda x: x.mode().iloc[0] if not x.mode().empty else x.iloc[0])
    .reset_index()
)

In [48]:
# Merge master start coords
df_all = df_all.drop(columns=['start_lat', 'start_lng'], errors='ignore')
df_all = df_all.merge(
    master_coords.rename(columns={
        'station_id': 'start_station_id',
        'lat': 'start_lat',
        'lng': 'start_lng'
    }),
    on='start_station_id',
    how='left'
)

# Merge master end coords
df_all = df_all.drop(columns=['end_lat', 'end_lng'], errors='ignore')
df_all = df_all.merge(
    master_coords.rename(columns={
        'station_id': 'end_station_id',
        'lat': 'end_lat',
        'lng': 'end_lng'
    }),
    on='end_station_id',
    how='left'
)

In [49]:
df_all.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,member_casual,date,AWND,PRCP,TAVG,start_lat,start_lng,end_lat,end_lng
0,FB33E3D8F21E2941,electric_bike,2022-01-01 01:49:37.374,2022-01-01 01:57:50.346,Canal St & Rutgers St,5303.08,Norfolk St & Broome St,5374.01,casual,2022-01-01,28,193,116,40.714275,-73.989900,40.717227,-73.988021
1,755337295F178067,electric_bike,2022-01-01 03:21:09.754,2022-01-01 03:49:33.047,Lewis Ave & Madison St,4425.02,Columbia St & Degraw St,4422.04,member,2022-01-01,28,193,116,40.686312,-73.935775,40.685930,-74.002424
2,C62CA87E3A475ADD,classic_bike,2022-01-01 08:38:18.156,2022-01-01 08:47:54.213,Carlton Ave & Park Ave,4732.04,Emerson Pl & Myrtle Ave,4683.02,casual,2022-01-01,28,193,116,40.695807,-73.973556,40.693631,-73.962236
3,CD7A2098AFCD5514,classic_bike,2022-01-01 10:33:58.529,2022-01-01 10:47:05.197,W 100 St & Broadway,7580.01,W 67 St & Broadway,7116.04,casual,2022-01-01,28,193,116,40.797372,-73.970412,40.774925,-73.982666
4,3F9E0C51F49F78A3,electric_bike,2022-01-01 20:05:19.592,2022-01-01 20:12:00.661,W 18 St & 6 Ave,6064.08,W 42 St & 6 Ave,6517.08,member,2022-01-01,28,193,116,40.739713,-73.994564,40.754920,-73.984550

In [50]:
df_all.shape

(29838166, 17)

In [51]:
df = df_all.copy() # reassigning 'df' object to merged data

In [52]:
df.dtypes

ride_id                       object
rideable_type                 object
started_at            datetime64[ns]
ended_at              datetime64[ns]
start_station_name            object
start_station_id              object
end_station_name              object
end_station_id                object
member_casual                 object
date                          object
AWND                           int64
PRCP                           int64
TAVG                           int64
start_lat                    float64
start_lng                    float64
end_lat                      float64
end_lng                      float64
dtype: object

In [53]:
df['date'] = pd.to_datetime(df['date'])

In [60]:
df['start_station_id'] = df['start_station_id'].astype(str)
df['end_station_id'] = df['end_station_id'].astype(str)

Missings

In [54]:
df.isnull().sum()

ride_id                   0
rideable_type             0
started_at                0
ended_at                  0
start_station_name       49
start_station_id         49
end_station_name      69884
end_station_id        69884
member_casual             0
date                      0
AWND                      0
PRCP                      0
TAVG                      0
start_lat                49
start_lng                49
end_lat               69884
end_lng               69884
dtype: int64

In [55]:
before = len(df)
df = df.dropna()
after = len(df)
print(f"Dropped {before - after} rows (from {before} to {after})")

Dropped 69884 rows (from 29838166 to 29768282)

Duplicates

In [56]:
d = df.duplicated()
df[d]

Empty DataFrame
Columns: [ride_id, rideable_type, started_at, ended_at, start_station_name, start_station_id, end_station_name, end_station_id, member_casual, date, AWND, PRCP, TAVG, start_lat, start_lng, end_lat, end_lng]
Index: []

## Deriving trip duration columns

In [57]:
# Creating new column with trip duration
df['trip_duration'] = (df['ended_at'] - df['started_at']).dt.total_seconds() / 60

In [58]:
# Dropping trips with negative trip duration
df = df[df['trip_duration'] >= 0].copy()

In [61]:
# Exporting DF
df.to_parquet(r'C:\Data\Citibike_NY_2022\merged\df_weather_duration.parquet',index=False)