In [1]:
# Importing Libraries
import os
from dotenv import load_dotenv
import pandas as pd
import numpy as np
import requests
import json
from datetime import datetime

## Loading Citibike data

In [2]:
# Creating a list with all files in the folder using a list compehension

folderpath = r"C:\Data\Citibike_NY_2022\2022-citibike-tripdata\extracted_data"  # folder where files were extractred (see scripts/extract_data.py)
filepaths  = [os.path.join(folderpath, name) for name in os.listdir(folderpath)]    # looping over files within filepath and joining to folder path creating list object

In [3]:
filepaths

['C:\\Data\\Citibike_NY_2022\\2022-citibike-tripdata\\extracted_data\\202201-citibike-tripdata_1.csv',
 'C:\\Data\\Citibike_NY_2022\\2022-citibike-tripdata\\extracted_data\\202201-citibike-tripdata_2.csv',
 'C:\\Data\\Citibike_NY_2022\\2022-citibike-tripdata\\extracted_data\\202202-citibike-tripdata_1.csv',
 'C:\\Data\\Citibike_NY_2022\\2022-citibike-tripdata\\extracted_data\\202202-citibike-tripdata_2.csv',
 'C:\\Data\\Citibike_NY_2022\\2022-citibike-tripdata\\extracted_data\\202203-citibike-tripdata_1.csv',
 'C:\\Data\\Citibike_NY_2022\\2022-citibike-tripdata\\extracted_data\\202203-citibike-tripdata_2.csv',
 'C:\\Data\\Citibike_NY_2022\\2022-citibike-tripdata\\extracted_data\\202204-citibike-tripdata_1.csv',
 'C:\\Data\\Citibike_NY_2022\\2022-citibike-tripdata\\extracted_data\\202204-citibike-tripdata_2.csv',
 'C:\\Data\\Citibike_NY_2022\\2022-citibike-tripdata\\extracted_data\\202204-citibike-tripdata_3.csv',
 'C:\\Data\\Citibike_NY_2022\\2022-citibike-tripdata\\extracted_data\\202205-citibike-tripdata_1.csv',
 'C:\\Data\\Citibike_NY_2022\\2022-citibike-tripdata\\extracted_data\\202205-citibike-tripdata_2.csv',
 'C:\\Data\\Citibike_NY_2022\\2022-citibike-tripdata\\extracted_data\\202205-citibike-tripdata_3.csv',
 'C:\\Data\\Citibike_NY_2022\\2022-citibike-tripdata\\extracted_data\\202206-citibike-tripdata_1.csv',
 'C:\\Data\\Citibike_NY_2022\\2022-citibike-tripdata\\extracted_data\\202206-citibike-tripdata_2.csv',
 'C:\\Data\\Citibike_NY_2022\\2022-citibike-tripdata\\extracted_data\\202206-citibike-tripdata_3.csv',
 'C:\\Data\\Citibike_NY_2022\\2022-citibike-tripdata\\extracted_data\\202206-citibike-tripdata_4.csv',
 'C:\\Data\\Citibike_NY_2022\\2022-citibike-tripdata\\extracted_data\\202207-citibike-tripdata_1.csv',
 'C:\\Data\\Citibike_NY_2022\\2022-citibike-tripdata\\extracted_data\\202207-citibike-tripdata_2.csv',
 'C:\\Data\\Citibike_NY_2022\\2022-citibike-tripdata\\extracted_data\\202207-citibike-tripdata_3.csv',
 'C:\\Data\\Citibike_NY_2022\\2022-citibike-tripdata\\extracted_data\\202207-citibike-tripdata_4.csv',
 'C:\\Data\\Citibike_NY_2022\\2022-citibike-tripdata\\extracted_data\\202208-citibike-tripdata_1.csv',
 'C:\\Data\\Citibike_NY_2022\\2022-citibike-tripdata\\extracted_data\\202208-citibike-tripdata_2.csv',
 'C:\\Data\\Citibike_NY_2022\\2022-citibike-tripdata\\extracted_data\\202208-citibike-tripdata_3.csv',
 'C:\\Data\\Citibike_NY_2022\\2022-citibike-tripdata\\extracted_data\\202208-citibike-tripdata_4.csv',
 'C:\\Data\\Citibike_NY_2022\\2022-citibike-tripdata\\extracted_data\\202209-citibike-tripdata_1.csv',
 'C:\\Data\\Citibike_NY_2022\\2022-citibike-tripdata\\extracted_data\\202209-citibike-tripdata_2.csv',
 'C:\\Data\\Citibike_NY_2022\\2022-citibike-tripdata\\extracted_data\\202209-citibike-tripdata_3.csv',
 'C:\\Data\\Citibike_NY_2022\\2022-citibike-tripdata\\extracted_data\\202209-citibike-tripdata_4.csv',
 'C:\\Data\\Citibike_NY_2022\\2022-citibike-tripdata\\extracted_data\\202210-citibike-tripdata_1.csv',
 'C:\\Data\\Citibike_NY_2022\\2022-citibike-tripdata\\extracted_data\\202210-citibike-tripdata_2.csv',
 'C:\\Data\\Citibike_NY_2022\\2022-citibike-tripdata\\extracted_data\\202210-citibike-tripdata_3.csv',
 'C:\\Data\\Citibike_NY_2022\\2022-citibike-tripdata\\extracted_data\\202211-citibike-tripdata_1.csv',
 'C:\\Data\\Citibike_NY_2022\\2022-citibike-tripdata\\extracted_data\\202211-citibike-tripdata_2.csv',
 'C:\\Data\\Citibike_NY_2022\\2022-citibike-tripdata\\extracted_data\\202211-citibike-tripdata_3.csv',
 'C:\\Data\\Citibike_NY_2022\\2022-citibike-tripdata\\extracted_data\\202212-citibike-tripdata_1.csv',
 'C:\\Data\\Citibike_NY_2022\\2022-citibike-tripdata\\extracted_data\\202212-citibike-tripdata_2.csv']

In [4]:
# Read and concatenate all files simultaneously. Pass through each file in the filepath list and read the csv,
# then append it underneath the previous file while keeping columns

df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)

C:\Users\seank\AppData\Local\Temp\ipykernel_11972\4118626668.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\seank\AppData\Local\Temp\ipykernel_11972\4118626668.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\seank\AppData\Local\Temp\ipykernel_11972\4118626668.py:4: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\seank\AppData\Local\Temp\ipykernel_11972\4118626668.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\seank\AppData\Local\Temp\ipykernel_11972\4118626668.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\seank\AppData\Local\Temp\ipykernel_11972\4118626668.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\seank\AppData\Local\Temp\ipykernel_11972\4118626668.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\seank\AppData\Local\Temp\ipykernel_11972\4118626668.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\seank\AppData\Local\Temp\ipykernel_11972\4118626668.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\seank\AppData\Local\Temp\ipykernel_11972\4118626668.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\seank\AppData\Local\Temp\ipykernel_11972\4118626668.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\seank\AppData\Local\Temp\ipykernel_11972\4118626668.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\seank\AppData\Local\Temp\ipykernel_11972\4118626668.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\seank\AppData\Local\Temp\ipykernel_11972\4118626668.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\seank\AppData\Local\Temp\ipykernel_11972\4118626668.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\seank\AppData\Local\Temp\ipykernel_11972\4118626668.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\seank\AppData\Local\Temp\ipykernel_11972\4118626668.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\seank\AppData\Local\Temp\ipykernel_11972\4118626668.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\seank\AppData\Local\Temp\ipykernel_11972\4118626668.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\seank\AppData\Local\Temp\ipykernel_11972\4118626668.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\seank\AppData\Local\Temp\ipykernel_11972\4118626668.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\seank\AppData\Local\Temp\ipykernel_11972\4118626668.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\seank\AppData\Local\Temp\ipykernel_11972\4118626668.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\seank\AppData\Local\Temp\ipykernel_11972\4118626668.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\seank\AppData\Local\Temp\ipykernel_11972\4118626668.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\seank\AppData\Local\Temp\ipykernel_11972\4118626668.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\seank\AppData\Local\Temp\ipykernel_11972\4118626668.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\seank\AppData\Local\Temp\ipykernel_11972\4118626668.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\seank\AppData\Local\Temp\ipykernel_11972\4118626668.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\seank\AppData\Local\Temp\ipykernel_11972\4118626668.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\seank\AppData\Local\Temp\ipykernel_11972\4118626668.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\seank\AppData\Local\Temp\ipykernel_11972\4118626668.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\seank\AppData\Local\Temp\ipykernel_11972\4118626668.py:4: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\seank\AppData\Local\Temp\ipykernel_11972\4118626668.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\seank\AppData\Local\Temp\ipykernel_11972\4118626668.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)

In [5]:
df.shape

(29838806, 13)

In [6]:
df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,BFD29218AB271154,electric_bike,2022-01-21 13:13:43.392,2022-01-21 13:22:31.463,West End Ave & W 107 St,7650.05,Mt Morris Park W & W 120 St,7685.14,40.802117,-73.968181,40.804038,-73.945925,member
1,7C953F2FD7BE1302,classic_bike,2022-01-10 11:30:54.162,2022-01-10 11:41:43.422,4 Ave & 3 St,4028.04,Boerum Pl\t& Pacific St,4488.09,40.673746,-73.985649,40.688489,-73.991160,member
2,95893ABD40CED4B8,electric_bike,2022-01-26 10:52:43.096,2022-01-26 11:06:35.227,1 Ave & E 62 St,6753.08,5 Ave & E 29 St,6248.06,40.761227,-73.960940,40.745168,-73.986831,member
3,F853B50772137378,classic_bike,2022-01-03 08:35:48.247,2022-01-03 09:10:50.475,2 Ave & E 96 St,7338.02,5 Ave & E 29 St,6248.06,40.783964,-73.947167,40.745168,-73.986831,member
4,7590ADF834797B4B,classic_bike,2022-01-22 14:14:23.043,2022-01-22 14:34:57.474,6 Ave & W 34 St,6364.10,5 Ave & E 29 St,6248.06,40.749640,-73.988050,40.745168,-73.986831,member

In [7]:
df.dtypes

ride_id                object
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id       object
end_station_name       object
end_station_id         object
start_lat             float64
start_lng             float64
end_lat               float64
end_lng               float64
member_casual          object
dtype: object

In [8]:
# converting times to datetime
df['started_at'] = pd.to_datetime(df['started_at'], dayfirst=False)
df['ended_at'] = pd.to_datetime(df['ended_at'], dayfirst=False)

# Extracting date
df['date'] = pd.to_datetime(df['started_at'], format='%Y-%m-%d').dt.date
df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,date
0,BFD29218AB271154,electric_bike,2022-01-21 13:13:43.392,2022-01-21 13:22:31.463,West End Ave & W 107 St,7650.05,Mt Morris Park W & W 120 St,7685.14,40.802117,-73.968181,40.804038,-73.945925,member,2022-01-21
1,7C953F2FD7BE1302,classic_bike,2022-01-10 11:30:54.162,2022-01-10 11:41:43.422,4 Ave & 3 St,4028.04,Boerum Pl\t& Pacific St,4488.09,40.673746,-73.985649,40.688489,-73.991160,member,2022-01-10
2,95893ABD40CED4B8,electric_bike,2022-01-26 10:52:43.096,2022-01-26 11:06:35.227,1 Ave & E 62 St,6753.08,5 Ave & E 29 St,6248.06,40.761227,-73.960940,40.745168,-73.986831,member,2022-01-26
3,F853B50772137378,classic_bike,2022-01-03 08:35:48.247,2022-01-03 09:10:50.475,2 Ave & E 96 St,7338.02,5 Ave & E 29 St,6248.06,40.783964,-73.947167,40.745168,-73.986831,member,2022-01-03
4,7590ADF834797B4B,classic_bike,2022-01-22 14:14:23.043,2022-01-22 14:34:57.474,6 Ave & W 34 St,6364.10,5 Ave & E 29 St,6248.06,40.749640,-73.988050,40.745168,-73.986831,member,2022-01-22

## Retrieving Weather Data

Using LaGuardia Airport (id GHCND:USW00014732 ) data from https://www.ncdc.noaa.gov/cdo-web/datatools/findstation (accessed 20/06/25)

In [9]:
load_dotenv()  # Loading environment variables from .env file

Token = os.environ.get('NOAA_TOKEN')

print(f"Token loaded: {Token}");

Token loaded: elVvdrcIkpxEAWPxKSzWsJZeNccsEHnv

In [10]:
headers = {'token': Token}
url = 'https://www.ncdc.noaa.gov/cdo-web/api/v2/data'

# defining what data to fetch
params = {
    'datasetid': 'GHCND',
    'datatypeid': ['TAVG', 'PRCP', 'AWND'], 
    'stationid': 'GHCND:USW00014732',
    'startdate': '2022-01-01',
    'enddate': '2022-12-31',
    'limit': 1000,
    'offset': 1
}
# empty list to store all records from all pages
all_results = []
# starting loop that will break when end of data reached
while True:
    r = requests.get(url, headers=headers, params=params)   # send API request with above params
    data = r.json() # parse json response to python dictionary
    results = data.get('results', [])   # extrac the results elements of the response

    if not results:
        break  # Exit the loop if no more data to fetch

    all_results.extend(results) # add fetched results to main list
    params['offset'] += 1000  # since the limit for the api is 1000

    print(f"Fetched {len(results)} records, total so far: {len(all_results)}")  # print progress

Fetched 1000 records, total so far: 1000
Fetched 95 records, total so far: 1095

JSONDecodeError: Expecting value: line 1 column 1 (char 0)

In [11]:
print(365*3)

1095

In [12]:
# Convert to df
d = pd.DataFrame(all_results)
print(d.shape)
print(d.head())
print(d.tail())

(1095, 5)
                  date datatype            station attributes  value
0  2022-01-01T00:00:00     AWND  GHCND:USW00014732       ,,W,     28
1  2022-01-01T00:00:00     PRCP  GHCND:USW00014732   ,,W,2400    193
2  2022-01-01T00:00:00     TAVG  GHCND:USW00014732      H,,S,    116
3  2022-01-02T00:00:00     AWND  GHCND:USW00014732       ,,W,     43
4  2022-01-02T00:00:00     PRCP  GHCND:USW00014732   ,,W,2400     10
                     date datatype            station attributes  value
1090  2022-12-30T00:00:00     PRCP  GHCND:USW00014732   ,,W,2400      0
1091  2022-12-30T00:00:00     TAVG  GHCND:USW00014732      H,,S,     93
1092  2022-12-31T00:00:00     AWND  GHCND:USW00014732       ,,W,     21
1093  2022-12-31T00:00:00     PRCP  GHCND:USW00014732   ,,W,2400     79
1094  2022-12-31T00:00:00     TAVG  GHCND:USW00014732      H,,S,     82

In [13]:
# dropping time from date var
d['date'] = pd.to_datetime(d['date']).dt.date
d.head()

         date datatype            station attributes  value
0  2022-01-01     AWND  GHCND:USW00014732       ,,W,     28
1  2022-01-01     PRCP  GHCND:USW00014732   ,,W,2400    193
2  2022-01-01     TAVG  GHCND:USW00014732      H,,S,    116
3  2022-01-02     AWND  GHCND:USW00014732       ,,W,     43
4  2022-01-02     PRCP  GHCND:USW00014732   ,,W,2400     10

In [14]:
# pivotting to wide so each row = one day
wide_weather = d.pivot(index='date',
                       columns='datatype',
                       values='value')
wide_weather = wide_weather.reset_index()
wide_weather.head()

datatype        date  AWND  PRCP  TAVG
0         2022-01-01    28   193   116
1         2022-01-02    43    10   114
2         2022-01-03    64     0    14
3         2022-01-04    39     0   -27
4         2022-01-05    34    61    32

In [15]:
wide_weather.columns

Index(['date', 'AWND', 'PRCP', 'TAVG'], dtype='object', name='datatype')

In [16]:
# Remove 'datatype' label which is leftover from pivot
wide_weather.columns.name = None
wide_weather.columns

Index(['date', 'AWND', 'PRCP', 'TAVG'], dtype='object')

## Merging citibike to weather data

In [17]:
df_all = pd.merge(df, wide_weather,
                  how = 'inner',
                  on = 'date',
                  indicator=True)

In [18]:
df_all = df_all.sort_values(by='date')

In [19]:
df_all.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,date,AWND,PRCP,TAVG,_merge
337365,FB33E3D8F21E2941,electric_bike,2022-01-01 01:49:37.374,2022-01-01 01:57:50.346,Canal St & Rutgers St,5303.08,Norfolk St & Broome St,5374.01,40.714275,-73.989900,40.717227,-73.988021,casual,2022-01-01,28,193,116,both
934147,755337295F178067,electric_bike,2022-01-01 03:21:09.754,2022-01-01 03:49:33.047,Lewis Ave & Madison St,4425.02,Columbia St & Degraw St,4422.04,40.686312,-73.935775,40.685930,-74.002424,member,2022-01-01,28,193,116,both
227118,C62CA87E3A475ADD,classic_bike,2022-01-01 08:38:18.156,2022-01-01 08:47:54.213,Carlton Ave & Park Ave,4732.04,Emerson Pl & Myrtle Ave,4683.02,40.695807,-73.973556,40.693631,-73.962236,casual,2022-01-01,28,193,116,both
913138,CD7A2098AFCD5514,classic_bike,2022-01-01 10:33:58.529,2022-01-01 10:47:05.197,W 100 St & Broadway,7580.01,W 67 St & Broadway,7116.04,40.797372,-73.970412,40.774925,-73.982666,casual,2022-01-01,28,193,116,both
127328,3F9E0C51F49F78A3,electric_bike,2022-01-01 20:05:19.592,2022-01-01 20:12:00.661,W 18 St & 6 Ave,6064.08,W 42 St & 6 Ave,6517.08,40.739713,-73.994564,40.754920,-73.984550,member,2022-01-01,28,193,116,both

In [20]:
df_all.tail()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,date,AWND,PRCP,TAVG,_merge
28674012,048F372A8932AF74,classic_bike,2022-12-31 09:42:43.255,2022-12-31 09:53:40.001,Franklin St & W Broadway,5430.08,W 25 St & 6 Ave,6215.04,40.719116,-74.006667,40.743954,-73.991449,member,2022-12-31,21,79,82,both
28817575,96B836FC53F5B659,electric_bike,2022-12-31 12:43:53.932,2022-12-31 12:49:30.908,Eastern Pkwy & Franklin Ave,3919.07,Monroe St & Classon Ave,4336.01,40.670777,-73.957680,40.684568,-73.958811,member,2022-12-31,21,79,82,both
29544081,757B088CF96FCBE1,electric_bike,2022-12-31 16:52:05.623,2022-12-31 16:56:09.677,W 63 St & Broadway,7052.01,W 53 St & 10 Ave,6890.01,40.771597,-73.982601,40.766697,-73.990617,member,2022-12-31,21,79,82,both
28330742,8F4E623EA5E0FF21,classic_bike,2022-12-31 19:09:13.320,2022-12-31 19:15:34.353,E 82 St & East End Ave,7049.04,E 78 St & 2 Ave,7057.07,40.772461,-73.946821,40.772797,-73.955778,member,2022-12-31,21,79,82,both
29754095,4BD35140231675EB,electric_bike,2022-12-31 19:14:19.795,2022-12-31 20:03:00.165,W 192 St & University Ave,8639.01,W 192 St & University Ave,8639.01,40.866914,-73.901737,40.866899,-73.901942,member,2022-12-31,21,79,82,both

In [21]:
df_all['_merge'].value_counts(dropna=False)

_merge
both          29838166
left_only            0
right_only           0
Name: count, dtype: int64

In [22]:
df_all['start_station_id'] = df_all['start_station_id'].astype(str)
df_all['end_station_id'] = df_all['end_station_id'].astype(str)

In [23]:
df_all.shape

(29838166, 18)

In [24]:
df = df_all.copy() # reassigning 'df' object to merged data

## Data Cleaning

In [25]:
df.dtypes

ride_id                       object
rideable_type                 object
started_at            datetime64[ns]
ended_at              datetime64[ns]
start_station_name            object
start_station_id              object
end_station_name              object
end_station_id                object
start_lat                    float64
start_lng                    float64
end_lat                      float64
end_lng                      float64
member_casual                 object
date                          object
AWND                           int64
PRCP                           int64
TAVG                           int64
_merge                      category
dtype: object

In [26]:
df['date'] = pd.to_datetime(df['date'])

Missings

In [28]:
df.isnull().sum()

ride_id                   0
rideable_type             0
started_at                0
ended_at                  0
start_station_name       49
start_station_id          0
end_station_name      69884
end_station_id            0
start_lat                 0
start_lng                 0
end_lat               37223
end_lng               37223
member_casual             0
date                      0
AWND                      0
PRCP                      0
TAVG                      0
_merge                    0
dtype: int64

In [29]:
before = len(df)
df = df.dropna()
after = len(df)
print(f"Dropped {before - after} rows (from {before} to {after})")

Dropped 69884 rows (from 29838166 to 29768282)

Duplicates

In [32]:
d = df.duplicated()
df[d]

Empty DataFrame
Columns: [ride_id, rideable_type, started_at, ended_at, start_station_name, start_station_id, end_station_name, end_station_id, start_lat, start_lng, end_lat, end_lng, member_casual, date, AWND, PRCP, TAVG, _merge]
Index: []

In [33]:
# dropping cols
df = df.drop(columns=['start_station_id', 'end_station_id', '_merge'])

## Deriving duration

In [34]:
# Creating new column with trip duration
df['trip_duration'] = (df['ended_at'] - df['started_at']).dt.total_seconds() / 60

In [35]:
# Dropping trips with negative trip duration
df = df[df['trip_duration'] >= 0].copy()

In [36]:
# Exporting DF
df.to_parquet(r'C:\Data\Citibike_NY_2022\merged\df_weather_duration.parquet',index=False)